main
    .box
        .content_box
            .analytics
                .title_block Google Analytics
                .alert_box.info
                    ul.analytics_list
                        li 1. Войдите в 
                            a.main_link(href="#") аккаунт Google Analytics.
                        li 2. Нажмите 
                            a.main_link(href="#") Администратор
                            |  в левой нижней части страницы, под списком отчетов на панели навигации. На странице Администратор есть 3 колонки: 
                            span.bolder Аккаунт
                            |, 
                            span.bolder Ресурс
                            |  и 
                            span.bolder Представление
                            |.
                        li 3. Создайте или выберите 
                            span.bolder Аккаунт
                            |  и 
                            a.main_link(href="#") Ресурс
                            |  для вашего сайта.
                        li 4. 
                            a.main_link(href="#") Найдите идентификатор отслеживания
                            |. В колонке 
                            span.bolder Ресурс
                            |  выберите 
                            span.bolder Отслеживание
                            |  > 
                            span.bolder Код отслеживания
                            |. 
                            a.main_link(href="#") Идентификатор отслеживания
                            |  будет представлен в верхней части страницы.
                        li 5. Скопируйте и вставьте 
                            span.bolder идентификатор отслеживания
                            |  в поле 
                            i Идентификатор отслеживания Google Analytics
                            |  ниже на этой странице. Сохраните изменения.
                        li 6. 
                            a.main_link(href="#") Включите функцию "Расширенная электронная торговля"
                            |. В столбце 
                            span.bolder Представление
                            |  нажмите 
                            span.bolder Настройки электронной торговли
                            |. В разделе 
                            i Включите электронную торговлю 
                            | установите переключатель в положение 
                            span.bolder ВКЛ
                            |. В разделе 
                            span.bolder Настройки расширенной электронной торговли 
                            |установите переключатель в положение 
                            span.bolder ВКЛ
                            |.
                        li 7. Чтобы убедиться, что код отслеживания работает, зайдите на ваш сайт и проверьте, было ли это посещение зарегистрировано в 
                            a.main_link(href="#") отчетах в режиме реального времени
                            |.

                .form_element
                    span Идентификатор отслеживания Google Analytics
                    input.err(type="text" placeholder="UA-000000000-0")
                    button.btn.btn_blue сохранить