main
    .box
        +tab-list(['GeneralRules', 'Personal', 'Promocodes', 'Sales'], 3)
            +tab('Sales', 'acitve')
                .content_box
                    .alert_box.info Вы можете реализовать снижение цены на заданный период времени с отображением соответствующей информации (бейджа) о распродаже в карточке товара и в каталоге магазина / торговой площадки. Сделать это можно через инструмент 
                        a.main_link(href="#") Планировщик
                        |  с типом задачи "Изменение цены" и отметкой "Распродажа".