main 
    .box 
        +tab-list(['Statistics', 'AllAgents', 'SelectedAgents', ['AreAlreadySelling', 10], 'AgentID', 'GeneralSettings', 'ComissionTemplates'], 0)
            +tab('Statistics', 'active')
                .content_box
                    .partners 
                        .partners_stat
                            .partners_stat_top
                                .partners_aside 
                                    |Выберите период:
                                    +select(['1 месяц', '6 месяцев', '12 месяцев'])
                                .form_element 
                                    input(type="text" placeholder="Название товара")
                            .partners_stat_content 
                                .partners_aside
                                    canvas(style="width: 100%")
                                .partners_stat_content_table
                                    table.equal_cells
                                        colgroup
                                            col
                                            col(style="width: 70px")
                                        thead
                                            tr
                                                th Агент
                                                th.align_right Продаж
                                        tbody
                                            tr
                                                td 
                                                    a.main_link(href="#") test test test test test test test test test test test test test test test test test test test test test 
                                                td.align_right 1234567
                                            tr
                                                td 
                                                    a.main_link(href="#") test
                                                td.align_right 1234567
                                    .extended_stat_link
                                        a(href="#") Расширенная статистика 
                            .alert_box.info Здесь опубликована статистика продаж ваших товаров через агентов. Вполне возможно, что кто-то из агентов уже ими заинтересовался.