main
    .box
        .content_box
            .page_nav
                ul.breadcrumbs_list
                    li.breadcrumb_item
                        a.main_link.back_link(href="#") к списку рекламных мест
            
        .content_box
            .place_code
                .place_code_title
                    a.main_link(href="#") Тест Тест Тест Тест Тест 
                    .place_code_title_counts
                        a.main_link(href="#") виджет
                        span.sep |
                        a.main_link(href="#") продано
                        |: 0
                        span.sep |
                        a.main_link(href="#") оплачено
                        |: 0
                        span.sep |
                        a.main_link(href="#") настройки
            
                .place_code_item
                    .form_data_block
                        .form_data_block_item
                            .form_data_block_title Баннер рекламодателя:
                            .form_data_block_content в архиве
                        .form_data_block_item
                            .form_data_block_title Размер баннера:
                            .form_data_block_content 15483
                        .form_data_block_item
                            .form_data_block_title Ссылка покупателя:
                            .form_data_block_content
                                a.main_link(href="#") http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 http://integralman.ru/lp1 
                        .form_data_block_item
                            .form_data_block_title Покупатель:
                            .form_data_block_content
                                a.main_link(href="#") integralmanx@gmail.com
                        .form_data_block_item
                            .form_data_block_title Оплачено:
                            .form_data_block_content 4223,7 WMR
                        .form_data_block_item
                            .form_data_block_title Размещено:
                            .form_data_block_content 16.06.2020 20:11
                        .form_data_block_item
                            .form_data_block_title Даты показов:
                            .form_data_block_content с 20.06.2020 00:00 по 27.06.2020 00:00
                        .form_data_block_item
                            .form_data_block_title Статистика:
                            .form_data_block_content 
                                a.main_link(href="#") просмотр статистики