main
    .box
        .content_box
            .page_nav
                ul.breadcrumbs_list
                    li.breadcrumb_item Партнерская продажа
                    li.breadcrumb_item
                        a.main_link(href="#") тестовый товар 
            
        .content_box
            .form_data_block
                .form_data_block_item
                    .form_data_block_title Счет:
                    .form_data_block_content 1234567
                .form_data_block_item
                    .form_data_block_title Дата:
                    .form_data_block_content 16.02.2021 15:57:16
                .form_data_block_item
                    .form_data_block_title Продавец:
                    .form_data_block_content 
                        a.main_link(href="#") Seller 
                .form_data_block_item
                    .form_data_block_title Оплачено покупателем:
                    .form_data_block_content  0.68 WMZ 
                .form_data_block_item
                    .form_data_block_title Начислено:
                    .form_data_block_content 0.68 WMZ
                .form_data_block_item
                    .form_data_block_title Состояние начисления:
                    .form_data_block_content на счету
                .form_data_block_item
                    .form_data_block_title Отзыв покупателя:
                    .form_data_block_content Отсутствует
                