main
    .box
        .content_box
            .alert_box.info Магазин Digiseller устанавливается на вашем сайте. Для его работы необходимо 
                a.main_link(href="#") создать категории и добавить в них товары
                |, 
                a.main_link(href="#") произвести настройки
                |  и вставить 
                a.main_link(href="#") код виджета
                |  на страницу вашего сайта.

            .myshop_box
                .catalog
                    +fieldset('Каталог')
                        ul.catalog_list(id="catalog_list")
                            li.main_page
                                .catalog_list_item.active
                                    .catalog_list_item_icons
                                        span.icon_item
                                            +icon('catalog_lock')
                                        span.icon_item
                                            +icon('catalog_star')
                                    .catalog_list_item_text 
                                        a(href="#") Главная страница
                                            span.item_counter (12)

                            li
                                .catalog_list_item
                                    .catalog_list_item_icons
                                        span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                            +icon('drag')
                                        span.icon_item.minus
                                            +icon('catalog_minus')
                                    .catalog_list_item_text
                                        a(href="#") Минус активный
                                            span.item_counter (12)
                                    span.hide_category.open(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                        +icon('eye_open')

                            li
                                .catalog_list_item.active
                                    .catalog_list_item_icons
                                        span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                            +icon('drag')
                                        span.icon_item.minus
                                            +icon('catalog_minus')
                                    .catalog_list_item_text 
                                        a(href="#") Минус активный выделен
                                            span.item_counter (12)
                                    span.hide_category.open(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                        +icon('eye_open')

                            li
                                .catalog_list_item
                                    .catalog_list_item_icons
                                        span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                            +icon('drag')
                                        span.icon_item.minus.empty
                                            +icon('catalog_minus')
                                    .catalog_list_item_text 
                                        a(href="#") Минус неактивный
                                            span.item_counter (12)
                                    span.hide_category(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                        +icon('eye_close')
                                        
                            li
                                .catalog_list_item.active
                                    .catalog_list_item_icons
                                        span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                            +icon('drag')
                                        span.icon_item.minus.empty
                                            +icon('catalog_minus')
                                    .catalog_list_item_text 
                                        a(href="#") Минус неактивный выделен
                                            span.item_counter (12)
                                    span.hide_category(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                        +icon('eye_close')

                            li
                                .catalog_list_item
                                    .catalog_list_item_icons
                                        span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                            +icon('drag')
                                        span.icon_item.plus
                                            +icon('catalog_plus')
                                    .catalog_list_item_text 
                                        a(href="#") Плюс неактивный
                                            span.item_counter (12)
                                    span.hide_category.open(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                        +icon('eye_open')

                            li
                                .catalog_list_item.active
                                    .catalog_list_item_icons
                                        span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                            +icon('drag')
                                        span.icon_item.plus
                                            +icon('catalog_plus')
                                    .catalog_list_item_text 
                                        a(href="#") Плюс активный
                                            span.item_counter (12)
                                    span.hide_category.open(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                        +icon('eye_open')

                            li.hidden_item
                                .catalog_list_item
                                    .catalog_list_item_icons
                                        span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                            +icon('drag')
                                        span.icon_item.plus
                                            +icon('catalog_plus')
                                    .catalog_list_item_text 
                                        a(href="#") Скрытая категория
                                            span.item_counter (12)
                                    span.hide_category(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                        +icon('eye_close')

                            li
                                .catalog_list_item
                                    .catalog_list_item_icons
                                        span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                            +icon('drag')
                                        span.icon_item.plus
                                            +icon('catalog_plus')
                                    .catalog_list_item_text 
                                        a(href="#") Вложение ур. 0
                                            span.item_counter (12)
                                    span.hide_category.open(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                        +icon('eye_open')
                                // вложение 1
                                ul.catalog_list
                                    li
                                        .catalog_list_item
                                            .catalog_list_item_icons
                                                span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                                    +icon('drag')
                                                span.icon_item.plus
                                                    +icon('catalog_plus')
                                            .catalog_list_item_text 
                                                a(href="#") Вложение ур. 1
                                                    span.item_counter (12)
                                            span.hide_category.open(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                                +icon('eye_open')
                                        // вложение 2
                                        ul.catalog_list
                                            li
                                                .catalog_list_item
                                                    .catalog_list_item_icons
                                                        span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                                            +icon('drag')
                                                        span.icon_item.plus
                                                            +icon('catalog_plus')
                                                    .catalog_list_item_text 
                                                        a(href="#") Вложение ур. 2
                                                            span.item_counter (12)
                                                    span.hide_category.open(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                                        +icon('eye_open')
                                                // вложение 3
                                                ul.catalog_list
                                                    li
                                                        .catalog_list_item
                                                            .catalog_list_item_icons
                                                                span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                                                    +icon('drag')
                                                                span.icon_item.plus
                                                                    +icon('catalog_plus')
                                                            .catalog_list_item_text 
                                                                a(href="#") Вложение ур. 3
                                                                    span.item_counter (12)
                                                            span.hide_category.open(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                                                +icon('eye_open')


                                li
                                    .catalog_list_item
                                        .catalog_list_item_icons
                                            span.icon_item.drag(title=" Сортируйте категории перетаскиванием значка ")
                                                +icon('drag')
                                            span.icon_item.plus
                                                +icon('catalog_plus')
                                        .catalog_list_item_text 
                                            a(href="#") Переполнение Переполнение Переполнение Переполнение Переполнение 
                                                span.item_counter (12)
                                        span.hide_category.open(data-placement="top" data-toggle="tooltip" title="скрыть категорию")
                                            +icon('eye_open')
                    .params_btn_group
                        .params_btn_group_item
                            button.btn.btn_gray добавить корневую категорию
                        .params_btn_group_item
                            button.btn.btn_gray добавить подкатегорию
                        .params_btn_group_item
                            button.btn.btn_gray(data-toggle="modal" data-target="#delete_category_popup") удалить корневую категорию

                    .hint.sort_descr Сортируйте товары перетаскиванием
                        +icon('drag')

                .myshop_content
                    .category_name.main_page
                        .title Название категории:
                        .form_element
                            input(type="text" disabled placeholder="Главная страница")
                    .myshop_tabs.tabs_inner
                        +tab-list(['Products', ['Image', 61], 'Widget'], 0)
                            +tab('Products', 'acitve')
                                .alert_box.additional_info Помимо своих товаров, вы можете добавить в категорию и чужие товары. При продаже чужих товаров вам начисляется партнерское вознаграждение, которое определил продавец товара. Для таких товаров в графе "продажи" будет указано две цифры: общее количество продаж / продаж из вашего магазина.

                                table.myshop_table.equal_cells
                                    colgroup
                                        col(style="width: 100px")
                                        col(style="width: 70px")
                                        col(style="width: 25px")
                                        col
                                        col(style="width: 50px")
                                        col(style="width: 120px")
                                        col(style="width: 70px")
                                        col(style="width: 70px")
                                        col(style="width: 70px")
                                        col(style="width: 40px")
                                    thead
                                        tr
                                            th.align_center Значки
                                                span(data-placement="right" data-toggle="tooltip" data-html="true" title='<div class="tip_icon"><img src="img/myshop_copy.svg">- товар со знаком "снижена цена"</div><div class="tip_icon"><img src="img/myshop_star.svg">- товар со знаком "новинка"</div><div class="tip_icon"><img src="img/myshop_crown.svg">- товар со знаком "популярный"</div><div class="tip_icon"><img src="img/catalog_star.svg">- товар добавлен в категорию и на главную страницу</div>')
                                                    +icon('question_table')
                                            th.align_center ID товара
                                            th
                                            th Название
                                            th
                                            th.align_center
                                                .table_head_form_box
                                                    |Цена
                                                    .form_element
                                                        select 
                                                            option(value="0") USD
                                                            option(value="1") RUB
                                                            option(value="2") EUR
                                                            option(value="3") UAH
                                            th.align_center(colspan="3") Продажи товаров за последние
                                            th
                                                button.btn.btn_gray(data-toggle="modal" data-target="#delete_good_popup" title="удалить выбранные товары")
                                                    +icon('delete-btn')
                                        tr.head_selection
                                            th
                                            th
                                            th
                                            th
                                            th
                                            th
                                            th.align_center 1 мес.
                                            th.align_center 3 мес.
                                            th.align_center 6 мес.
                                            th
                                        tr
                                            th.filter_cell(colspan="10")
                                                .collapse(id="goodsFilter" )
                                                    .collapse_filter_content 
                                                        .form_group
                                                            .title Показать
                                                            .form_element
                                                                label.for_radio
                                                                    input(type="radio" name="filter")
                                                                    span.text все товары
                                                            .form_element
                                                                label.for_radio
                                                                    input(type="radio" name="filter")
                                                                    span.text только товары в наличии
                                                            .form_element
                                                                label.for_radio
                                                                    input(type="radio" name="filter")
                                                                    span.text товары, которые закончились
                                                            .form_element
                                                                label.for_radio
                                                                    input(type="radio" name="filter")
                                                                    span.text только партнерские товары
                                                        
                                                        ul.activated_already
                                                            li
                                                                .activated_already_item только предзаказы
                                                                    +icon('modal_close')
                                                .collapse_btn
                                                    span.active(data-toggle="collapse" data-target="#goodsFilter" aria-expanded="false" aria-controls="goodsFilter" tabindex="-1") фильтры
                                    // если понадобится скрыть перетаскиваемую часть, то стилизуем .gu-mirror
                                    // лоадер для таблицы. к tbody добавляем класс table_loader и tr с классом loader_content
                                    tbody
                                        //- tr.loader_content
                                        tr
                                            td
                                                .icon_funcs
                                                    span.drag
                                                        +icon('drag')
                                                    span.icon_wrap.active
                                                        +icon('myshop_copy')
                                                    span.icon_wrap
                                                        +icon('myshop_star')
                                                    span.icon_wrap
                                                        +icon('myshop_crown')
                                            td 1234567
                                            td 
                                                .icon_funcs
                                                    span.icon_wrap.star
                                                        +icon('catalog_star')
                                            td 
                                                a.main_link(href="#") Название товара Название товара Название товара Название товара Название товара Название товара 
                                            td
                                                .percents
                                                    span.percents_value 12
                                                    +icon('percent')
                                            td.align_center 123.90
                                            td.align_center
                                                .sales_counter
                                                    sup 10997
                                                    |/
                                                    sub.empty 0
                                            td.align_center
                                                .sales_counter
                                                    sup.empty 0
                                                    |/
                                                    sub 10997
                                            td.align_center
                                                .sales_counter
                                                    sup 10997
                                                    |/
                                                    sub 10997
                                            td
                                                .form_element
                                                    label.for_check
                                                        input(type="checkbox")
                                                        span.text

                                        tr
                                            td
                                                .icon_funcs
                                                    span.drag
                                                        +icon('drag')
                                                    span.icon_wrap.active
                                                        +icon('myshop_copy')
                                                    span.icon_wrap
                                                        +icon('myshop_star')
                                                    span.icon_wrap
                                                        +icon('myshop_crown')
                                            td 1234567
                                            td 
                                                .icon_funcs
                                                    span.icon_wrap.star
                                                        +icon('catalog_star')
                                            td 
                                                a.main_link(href="#") Название товара Название товара Название товара Название товара Название товара Название товара 
                                            td
                                                .percents
                                                    span.percents_value 12
                                                    +icon('percent')
                                            td.align_center 123.90
                                            td.align_center
                                                .sales_counter
                                                    sup 10997
                                                    |/
                                                    sub.empty 0
                                            td.align_center
                                                .sales_counter
                                                    sup.empty 0
                                                    |/
                                                    sub 10997
                                            td.align_center
                                                .sales_counter
                                                    sup 10997
                                                    |/
                                                    sub 10997
                                            td
                                                .form_element
                                                    label.for_check
                                                        input(type="checkbox")
                                                        span.text

                                        tr
                                            td
                                                .icon_funcs
                                                    span.drag
                                                        +icon('drag')
                                                    span.icon_wrap
                                                        +icon('myshop_copy')
                                                    span.icon_wrap.active
                                                        +icon('myshop_star')
                                                    span.icon_wrap.active
                                                        +icon('myshop_crown')
                                            td 1234567
                                            td 
                                                .icon_funcs
                                                    span.icon_wrap.star.active
                                                        +icon('catalog_star')
                                            td 
                                                .not_available_good
                                                    a.main_link(href="#") НАЗВАНИЕ ТОВАРА
                                                    .hint товар недоступен для оплаты уже 1 мес .
                                            td
                                                .percents.not_partner
                                                    span.percents_value 0
                                                    +icon('percent')
                                            td.align_center 123.90
                                            td.align_center
                                                .sales_counter
                                                    sup.empty 0
                                                    |/
                                                    sub.empty 0
                                            td.align_center
                                                .sales_counter
                                                    sup.empty 0
                                                    |/
                                                    sub.empty 0
                                            td.align_center
                                                .sales_counter
                                                    sup.empty 0
                                                    |/
                                                    sub.empty 0
                                            td
                                                .form_element
                                                    label.for_check
                                                        input(type="checkbox")
                                                        span.text

                                        tr
                                            td
                                                .icon_funcs
                                                    span.drag
                                                        +icon('drag')
                                                    span.icon_wrap
                                                        +icon('myshop_copy')
                                                    span.icon_wrap
                                                        +icon('myshop_star')
                                                    span.icon_wrap
                                                        +icon('myshop_crown')
                                            td 1234567
                                            td
                                            td 
                                                .not_available_good
                                                    a.main_link(href="#") название товара
                                                    .hint товар недоступен для оплаты уже 1 мес.
                                            td
                                                .percents.not_partner
                                                    span.percents_value 0
                                                    +icon('percent')
                                            td.align_center 123.90
                                            td.align_center
                                                .sales_counter
                                                    sup.empty 0
                                                    |/
                                                    sub.empty 0
                                            td.align_center
                                                .sales_counter
                                                    sup.empty 0
                                                    |/
                                                    sub.empty 0
                                            td.align_center
                                                .sales_counter
                                                    sup.empty 0
                                                    |/
                                                    sub.empty 0
                                            td
                                                .form_element
                                                    label.for_check
                                                        input(type="checkbox")
                                                        span.text

                                +pagination('Товаров на странице')
                                .hint.sort_descr Сортируйте товары перетаскиванием
                                    +icon('drag')

                                button.btn.btn_gray(data-toggle="modal" data-target="#add_goods_popup") добавить товары в категорию


.modal.fade(id="delete_good_popup" tabindex="-1" aria-labelledby="delete_good_popup" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.popup.modal-sm
        .modal-content
            .modal-header
                .modal-title Подтвердите действие
                span.close(data-dismiss="modal" aria-label="Close")
                    +icon('modal_close')
            .modal-body
                |Вы действительно хотите удалить выбранные товары?
                .modal_btn_group_centered
                    button.btn.btn_gray(data-dismiss="modal" aria-label="Close") подтвердить
                    button.btn.btn_gray(data-dismiss="modal" aria-label="Close") отменить


.modal.fade(id="delete_category_popup" tabindex="-1" aria-labelledby="delete_category_popup" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.popup.modal-sm
        .modal-content
            .modal-header
                .modal-title Подтвердите действие
                span.close(data-dismiss="modal" aria-label="Close")
                    +icon('modal_close')
            .modal-body
                |Вы действительно хотите удалить категорию «лорпл»?
                .modal_btn_group_centered
                    button.btn.btn_gray(data-dismiss="modal" aria-label="Close") подтвердить
                    button.btn.btn_gray(data-dismiss="modal" aria-label="Close") отменить

.modal.fade(id="add_goods_popup" tabindex="-1" aria-labelledby="add_goods_popup" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.popup
        .modal-content
            .modal-body
                |Кроме своих товаров, вы можете разместить в магазине партнерские товары. При продаже партнерских товаров вам начисляется вознаграждение, которое определил владелец товара.
                .modal_btn_group_centered
                    button.btn.btn_gray(data-toggle="modal" data-target="#add_my_goods" data-dismiss="modal" aria-label="Close") добавить мои товары
                    button.btn.btn_gray(data-toggle="modal" data-target="#add_partner_goods" data-dismiss="modal" aria-label="Close") добавить партнерские товары

.modal.fade(id="add_my_goods" tabindex="-1" aria-labelledby="add_my_goods" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
            .modal-header
                .modal-title Товары
                span.close(data-dismiss="modal" aria-label="Close")
                    +icon('modal_close')
            .modal-body
                .mailing_current_filters
                    span.title Добавить в категорию
                    .form_element
                        select
                            option(value="0") Главная страница
                            option(value="1") 123
                    .added_recipients_counter
                        |Уже добавлено: 
                        span 6
                    .goods_menu_sort
                        .form_element
                            span сортировка: 
                            select
                                option(value="0") id товара ↑
                                option(value="1") id товара ↓
                                option(value="2") название товара А - Я
                                option(value="3") название товара Я - A
                                option(value="4") торговая площадка А - Я
                                option(value="5") торговая площадки Я - А
                                option(value="6") цена ↑
                                option(value="7") цена ↓
                                option(value="8") количество продаж ↑
                                option(value="9") количество продаж ↓
                                option(value="10") в наличии ↑
                                option(value="11") в наличии ↓
                                option(value="12") количество просмотров ↓
                                option(value="13") дата последней продажи ↓
                                option(value="14") дате последней продажи ↑
                table.equal_cells.goods_table_modal
                    colgroup
                        col(style="width: 30px")
                        col(style="width: 100px")
                        col
                        col(style="width: 120px")
                    thead
                        tr
                            th 
                            th ID товара
                            th Название
                            th.align_center Цена
                        tr.head_selection
                            th 
                            th
                                .form_element
                                    input.focused(type="text")
                                    span.remove
                                        +icon('remove_input_data')
                            th
                                .form_element
                                    input(type="text")
                            th
                                .form_element
                                    select
                                        option(value="1") USD
                                        option(value="2") RUB
                                        option(value="3") EUR
                                        option(value="4") UAH
                    tbody
                        tr
                            td 
                                .form_element
                                    label.for_check
                                        input(type="checkbox")
                                        span.text
                            td 1234567
                            td 
                                a.main_link(href="#") Название товара
                            td.align_center 10.00
                        tr.chosen_cell
                            td 
                                .form_element
                                    label.for_check
                                        input(type="checkbox" checked)
                                        span.text
                            td 1234567
                            td 
                                a.main_link(href="#") Название товара Название товара Название товара Название товара Название товара Название товара Название товара 
                            td.align_center 10.00
                        tr
                            td 
                                .form_element
                                    label.for_check
                                        input(type="checkbox")
                                        span.text
                            td 1234567
                            td 
                                a.main_link(href="#") Название товара
                            td.align_center 10.00
                    
                +pagination('Товаров на странице:')

.modal.partner_goods_modal.fade(id="add_partner_goods" tabindex="-1" aria-labelledby="add_partner_goods" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                .modal-title Товары
                span.close(data-dismiss="modal" aria-label="Close")
                    +icon('modal_close')
            .modal-body
                .mailing_current_filters
                    span.title Добавить партнерские товары из
                    .form_element
                        select
                            option(value="0") всех магазинов
                            option(value="1") Plati.Market
                    .sep
                    span.title в категорию
                    .form_element
                        select
                            option(value="0") Главная страница
                            option(value="1") Plati.Narket
                    .added_recipients_counter
                        |Уже добавлено: 
                        span 6
                    .goods_menu_sort
                        .form_element
                            span сортировка: 
                            select
                                option(value="0") id товара ↑
                                option(value="1") id товара ↓
                                option(value="2") название товара А - Я
                                option(value="3") название товара Я - A
                                option(value="4") торговая площадка А - Я
                                option(value="5") торговая площадки Я - А
                                option(value="6") цена ↑
                                option(value="7") цена ↓
                                option(value="8") количество продаж ↑
                                option(value="9") количество продаж ↓
                                option(value="10") в наличии ↑
                                option(value="11") в наличии ↓
                                option(value="12") количество просмотров ↓
                                option(value="13") дата последней продажи ↓
                                option(value="14") дате последней продажи ↑

                .goods_partner_count
                    |Партнерских товаров в магазине: 
                    span.bold 1
                    |  из 
                    span.bold 100 
                    a.main_link(href="#") увеличить лимит

                table.equal_cells.goods_table_modal.hovered_rows
                    colgroup
                        col(style="width: 30px")
                        col(style="width: 100px")
                        col
                        col(style="width: 30px")
                        col(style="width: 30px")
                        col(style="width: 140px")
                        col(style="width: 80px")
                        col(style="width: 65px")
                        col(style="width: 120px")
                        col(style="width: 62px")
                        col(style="width: 62px")
                        col(style="width: 62px")
                    thead
                        tr
                            th 
                            th ID товара
                            th Название
                            th.align_center
                                span
                                    +icon('table_camera')
                            th.align_center
                                span
                                    +icon('table_picture')
                            th Продавец
                            th.align_center Цена
                            th.align_center %
                            th.align_center Вознаграждение
                            th.align_center(colspan="3") Продаж за последние
                        tr.head_selection
                            th 
                            th
                                .form_element
                                    input.focused(type="text")
                                    span.remove
                                        +icon('remove_input_data')
                            th
                                .form_element
                                    input(type="text")
                            th
                                .form_element
                                    label.for_check
                                        input(type="checkbox")
                                        span.text
                            th
                                .form_element
                                    label.for_check
                                        input(type="checkbox")
                                        span.text
                            th
                                .form_element
                                    input(type="text")
                            th 
                                .form_element
                                    select
                                        option(value="1") USD
                                        option(value="2") RUB
                                        option(value="3") EUR
                                        option(value="4") UAH
                            th(colspan="2")
                                .form_element
                                    select
                                        option(value="1") все комиссионные
                                        option(value="2") только индивидуальные
                            th.align_center 1 мес.
                            th.align_center 3 мес.
                            th.align_center 6 мес.
                    tbody
                        tr
                            td 
                                .form_element.already_added
                                    label.for_check
                                        input(type="checkbox" checked)
                                        span.text
                            td 1234567
                            td 
                                a.main_link(href="#") Название товара
                            td.align_center
                                +icon('table_check')
                            td.align_center
                                +icon('table_check')
                            td.seller_name
                                a.main_link(href="#") Имя продавца
                                .seller_name_funcs
                                    a(href="#" title="применить фильтр")
                                        +icon('filter')
                                    a(href="#" title="написать продавцу")
                                        +icon('mail')
                            td.align_center
                                span.rub 0.04 
                                    small RUB
                            td.align_center 99 %
                            td.align_center 
                                span.rub 0.04 
                                    small RUB
                            td.align_center 12345
                            td.align_center 54321
                            td.align_center 22334
                        tr
                            td 
                                .form_element
                                    label.for_check
                                        input(type="checkbox")
                                        span.text
                            td 1234567
                            td 
                                a.main_link(href="#") Название товара Название товара Название товара Название товара Название товара Название товара 
                            td.align_center
                                +icon('table_check')
                            td.align_center
                                +icon('table_check')
                            td.seller_name
                                a.main_link(href="#") Имя продавца
                                .seller_name_funcs
                                    a(href="#" title="применить фильтр")
                                        +icon('filter')
                                    a(href="#" title="написать продавцу")
                                        +icon('mail')
                            td.align_center
                                span.rub 0.04 
                                    small RUB
                            td.align_center 99 %
                            td.align_center 
                                span.rub 0.04 
                                    small RUB
                            td.align_center 12345
                            td.align_center 54321
                            td.align_center 22334
                    
                +pagination('Товаров на странице:')
