main
    .box
        +tab-list(['List', 'BlackList'], 1)
            +tab('BlackList', 'acitve')
                .content_box
                    .alert_box.info
                        |В этом разделе вы можете указать Email или IP-адреса покупателей, которым запрещаете оплату своих товаров. Обращаем ваше внимание,
                        |  что зачастую IP-адреса выдаются автоматически при подключении клиента к сети, и поэтому одним и тем же IP-адресом могут пользоваться совершенно разные покупатели. Рекомендуем вам добавлять IP-адреса только в исключительных случаях!
                    .blacklist
                        .blacklist_form
                            .title Блокировка по
                            .blacklist_form_options
                                .form_element
                                    select
                                        option(value="0") Email
                                        option(value="1") IP
                                .form_element
                                    input(type="text" placeholder="Email")
                                .form_element
                                    label.for_check
                                        input(type="checkbox")
                                        span.text умная аналитика
                                    span(data-placement="top" data-toggle="tooltip" title="Позволяет заблокировать покупателя не только по указанному email, но и, с высокой долей вероятности, по другим связанным с этим покупателем email-адресам")
                                        +icon('question_table')
                                .complete
                                    button.btn.btn_blue заблокировать

                        .blacklist_form
                            .title Блокировка по черным спискам
                            .blacklist_form_options
                                .form_element.group_block
                                    label.for_check
                                        input(type="checkbox")
                                        span.text блокировать покупателей, добавленных в черные списки не менее чем у 
                                    input(type="number" value="25")
                                    |  продавцов
                    .blacklist_table
                        table.equal_cellsx
                            colgroup
                                col(style="width: 75px")
                                col(style="width: 180px")
                                col(style="width: 200px")
                                col
                                col(style="width: 40px")
                            thead
                                tr
                                    th Тип
                                    th Значение
                                    th.align_center В черных списках продавцов / умной аналитике
                                    th.align_center Умная аналитика
                                    th: button.btn.btn_gray
                                        +icon('delete-btn')
                                tr.head_selection
                                    th
                                        .form_element
                                            select
                                                option(value="0") Все
                                                option(value="1") Email
                                                option(value="2") IP
                                                option(value="3") WMID
                                    th
                                        .form_element
                                            input(type="text" placeholder="Email или IP")
                                    th 
                                    th
                                    th
                                        .form_element
                                            label.for_check
                                                input(type="checkbox")
                                                span.text
                            tbody
                                tr
                                    td IP
                                    td 111.222.333.444
                                    td.align_center 0
                                    td 
                                        .form_element
                                            label.for_check
                                                input(type="checkbox")
                                                span.text
                                    td
                                        .form_element
                                            label.for_check
                                                input(type="checkbox")
                                                span.text

                                tr
                                    td WMID
                                    td 111.222.333.444
                                    td.align_center 1 / 1
                                    td 
                                        .form_element
                                            label.for_check
                                                input(type="checkbox")
                                                span.text
                                    td
                                        .form_element
                                            label.for_check
                                                input(type="checkbox")
                                                span.text

                        .pagination_box
                            .pagination_sort
                                .pagination_title Количество единиц на странице:
                                .form_element
                                    select
                                        option(value="10") 10
                                        option(value="20" selected) 20
                                        option(value="30") 100