main
    .box
        .content_box
            .news_item
                .news_date 16.10.2020
                .news_content В 
                    a.main_link(href="#") контактных данных 
                    |продавца теперь можно указать Discord User ID / Discord Server ID.
            .news_item
                .news_date 16.10.2020
                .news_content
                    |По просьбам продавцов в настройки приема платежей через PayPal добавлена возможность добавления к стоимости товара фиксированного значения для компенсации комиссии платежной системы.
            .news_item
                .news_date 16.10.2020
                .news_content
                    |Теперь в Digiseller с помощью инструмента "Планировщик" можно установить режим "Распродажа". Отображение соответствующего индикатора поддерживается на уровне торговых площадок, виджетов собственных магазинов, а соответствующие поля добавлены в методы API.
                    br
                    br
                    img(src="https://my.digiseller.com/inside/images/news/sche1.jpg", alt="")
                    img(src="https://my.digiseller.com/inside/images/news/sche2.jpg", alt="")
                    br
                    br
                    |Для установки на товар режима "Распродажа" необходимо зайти в раздел 
                    a.main_link(href="#") Товары>Планировщик
                    |, создать задачу типа "Изменение цены" с пометкой "Распродажа", определить сроки и добавить нужные товары.
                    br
                    |Работают ограничения: максимальная продолжительность периода скидки составляет 7 суток; один товар не может участвовать в акции чаще чем раз в 30 дней.
