main
    .box
        .content_box
            .page_nav
                ul.breadcrumbs_list
                    li.breadcrumb_item
                        a.main_link(href="#" data-placement="top" data-toggle="tooltip" title="список моих товаров") Мои товары
                    li.breadcrumb_item
                        .breadcrumb_item_name Акц - фикс цена Акц - фикс цена Акц - фикс цена Акц - фикс цена Акц - фикс цена Акц - фикс цена Акц - фикс цена Акц - фикс цена Акц - фикс цена 
                        a(href="#" title="открыть страницу с описанием товара")
                            +icon('good_link')

        +tab-list(['Basic', 'Statistics', 'Widget'], 0)
            +tab('Basic', 'active')
                .content_box
                    .partner_box
                        a.btn.btn_blue.agent_msg_link сообщение агенту
                        .form_data_block
                            .form_data_block_item
                                .form_data_block_title ID товара:
                                .form_data_block_content 1234567
                            .form_data_block_item
                                .form_data_block_title Цена:
                                .form_data_block_content 
                                    span.rub 600 RUB
                            .form_data_block_item
                                .form_data_block_title Комиссия партнеру:
                                .form_data_block_content 1%
                            .form_data_block_item.negative
                                .form_data_block_title Комиссия партнеру:
                                .form_data_block_content 
                                    .item
                                        span.comission_change
                                            span.line_through 1%  
                                            |  11% 
                                        |Размер индивидуальных комиссионных, которые установил вам продавец, меньше комиссии установленной им для остальных партнеров! За разъяснениями обратитесь непосредственно к 
                                        a.main_link(href="#") продавцу
                                        |.
                            .form_data_block_item.positive
                                .form_data_block_title Комиссия партнеру:
                                .form_data_block_content 
                                    .item 
                                        span.comission_change
                                            span.line_through 1%  
                                            |  11% 
                                        |Продавец установил для вас индивидуальные комиссионные!
                            .form_data_block_item
                                .form_data_block_title Вознаграждение:
                                .form_data_block_content 
                                    span.usd 10 USD
                            .form_data_block_item
                                .form_data_block_title Способы оплаты:
                                .form_data_block_content 
                                    .alert_box.warning Товар отсутствует (закончился) c 06.06.2017 10:38:00
                            .form_data_block_item
                                .form_data_block_title Способы оплаты:
                                .form_data_block_content 
                                    .general_methods_item_content
                                        .general_methods_item_collection
                                            ul.payment_list
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="webmoney")
                                                        +icon('webmoney')
                                                li
                                                    a.decline(href="#" data-placement="top" data-toggle="tooltip" title="Bitcoin")
                                                        +icon('bitcoin')
                                                li
                                                    a.decline(href="#" data-placement="top" data-toggle="tooltip" title="PayPal")
                                                        +icon('paypal-method')
                                                li
                                                    a.decline(href="#" data-placement="top" data-toggle="tooltip" title="Банковская карта")
                                                        +icon('credit-card')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="QIWI")
                                                        +icon('qiwi')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Яндекс.Деньги")
                                                        +icon('yandex-money')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="МТС")
                                                        +icon('mts')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Билайн")
                                                        +icon('beeline')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Мегафон")
                                                        +icon('megafon')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="TELE2")
                                                        +icon('tele-2')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Терминалы оплаты")
                                                        +icon('terminal')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Интернет банкинг")
                                                        +icon('bank')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Почта России")
                                                        +icon('russian-post')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="WM-карты")
                                                        +icon('wm-card')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Подарочная карта")
                                                        +icon('present-card')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Steam-скины")
                                                        +icon('payment-steamskin')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Alipay")
                                                        +icon('alp')
                                                li
                                                    a(href="#" data-placement="top" data-toggle="tooltip" title="Unionpay") 
                                                        +icon('union')
                            .form_data_block_item
                                .form_data_block_title Размещение товара:
                                .form_data_block_content 
                                    .item_placement 
                                        .title Партнерских товаров в магазине: 
                                            span.bold 3 
                                            |  из 
                                            span.bold 100 
                                            a.main_link(href="#") увеличить лимит
                                        .warning товар не добавлен ни в одну из категорий вашего магазина
                                        ul.added_category_list
                                            li
                                                a.main_link(href="#") Мои товары
                                                a.main_link(href="#") Категория 1
                                                button.btn.btn_gray 
                                                    span.minus
                                            li
                                                a.main_link(href="#") Мои товары
                                                a.main_link(href="#") Категория 1
                                                button.btn.btn_gray 
                                                    span.minus

                                        .add_good_category 
                                            .form_element
                                                select
                                                    option(value="0" disabled selected) Выберите категорию
                                                    option(value="1") Категория 1
                                                    option(value="2") Категория 2
                                            button.btn.btn_blue добавить
                            .form_data_block_item
                                .form_data_block_title Описание товара:
                                .form_data_block_content 
                                    .about_good 
                                        img(src="https://graph.digiseller.ru/img.ashx?id_d=2700177&maxlength=150", alt="")
                                        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. A possimus aut alias cumque voluptatum enim asperiores iure labore! Deleniti provident recusandae accusamus est, facilis nobis. Neque, esse dignissimos. Quibusdam molestias soluta blanditiis, possimus architecto laboriosam doloremque sed magni inventore nam vero ipsa eaque tempore ullam delectus. Saepe laboriosam, laborum rem culpa alias aliquam animi harum tempore similique necessitatibus possimus laudantium aspernatur ab, nobis a voluptatem cum neque excepturi debitis est ut odio voluptatibus sapiente at? Dolor earum recusandae quam laboriosam accusamus officiis ipsa dicta, illum libero quisquam distinctio minima in quae enim consectetur reprehenderit dolore quas voluptate et veritatis adipisci.
                                        |Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis necessitatibus explicabo, iure harum reprehenderit, autem, laudantium esse cupiditate vero quibusdam libero at. Aliquam distinctio tempora culpa, numquam impedit laborum facere doloremque nostrum? Perferendis magnam doloremque ad optio iusto, ipsa sit voluptatum architecto natus, rem eos ut dolorum rerum officia totam? Vel cum repellendus pariatur, assumenda exercitationem dignissimos voluptate nostrum ipsum eaque ab culpa magni ex, nemo ducimus quisquam ratione debitis recusandae at! Facilis tenetur placeat enim blanditiis aut ipsum dignissimos adipisci dicta autem perferendis repudiandae dolore pariatur doloribus repellendus necessitatibus saepe, eligendi nobis, rerum, reiciendis quae. Incidunt debitis suscipit maiores.
                                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt delectus quisquam officia quod magnam ipsa fugit blanditiis cum error incidunt! Sapiente temporibus exercitationem dicta voluptates enim illo! Dolorum nisi error vel optio consequuntur dolore quibusdam, magnam tenetur iste porro nulla obcaecati sint, beatae accusantium odit veritatis vero incidunt doloribus placeat similique facere. Odit quisquam error dolorem dolore? Deleniti dolorum tenetur voluptas laboriosam libero at ducimus doloribus pariatur ullam atque rerum, reprehenderit sequi corrupti. Iste ipsa at reprehenderit dolorum? Eveniet ut qui commodi delectus aut eius cupiditate saepe sed ratione incidunt est veniam, ducimus illum ea eligendi dolorem iste similique voluptatibus maxime provident! Sint inventore cumque, cupiditate laborum eum quo voluptas itaque, quos quod quidem aliquid atque voluptatum sed sunt sit eligendi? Doloremque soluta sit est quis, non modi architecto aliquid nemo atque? Cumque veniam ad excepturi minus magni. Quis velit laudantium quos! Eligendi, voluptate! Quod officia illo, soluta earum laborum nam velit odit maxime et, aliquam nesciunt. Ducimus, repellendus? Mollitia ex repellendus maxime velit odit temporibus quos ipsa delectus aut. Id delectus pariatur perspiciatis ipsam cupiditate quasi, voluptatem deserunt expedita exercitationem molestiae consequatur perferendis, odio culpa molestias totam quae temporibus, quisquam cum beatae repudiandae et rem maiores! Facere suscipit culpa, earum perspiciatis dolore voluptates labore hic quis quo voluptas at repellendus deserunt ad aspernatur ea? Quia ab et, quas ipsum omnis ad obcaecati, minus repudiandae sit possimus qui quidem sunt voluptatem enim libero ratione distinctio eligendi saepe non. Officiis et quod porro eius autem laudantium cumque sint, a ad blanditiis.