main
    .box
        .content_box
            .page_nav
                ul.breadcrumbs_list
                    li.breadcrumb_item
                        a.main_link.back_link(href="#") к списку рекламных мест
            
        .content_box
            .place_code
                .place_code_title
                    a.main_link(href="#") Тест Тест Тест Тест Тест 
                    .place_code_title_counts
                        a.main_link(href="#") виджет
                        span.sep |
                        a.main_link(href="#") продано
                        |: 0
                        span.sep |
                        a.main_link(href="#") оплачено
                        |: 0
                        span.sep |
                        a.main_link(href="#") настройки

                .place_new
                    .place_new_text Пожалуйста выберете тип размещения для вашего рекламного места:
                    .form_group
                        .form_element 
                            label.for_radio
                                input(type="radio", name="place_new" checked)
                                span.text динамическое размещение
                            .hint При динамическом размещении вы можете продавать определенное количество показов или кликов. При этом на одном рекламном месте в одно и то же время могут поочередно показываться баннеры нескольких рекламодателей.

                        .form_element 
                            label.for_radio
                                input(type="radio", name="place_new")
                                span.text статическое размещение
                            .hint При статическом размещении вы продаете сутки (недели/месяцы) показов.
                    .place_new_text Оба типа размещения подразумевают, что рекламное место может зарабатывать средства, показывая баннеры, участвующие в ротации Местком, в период когда рекламное место не выкуплено индивидуально.
                    button.btn.btn_blue продолжить
