main
    .box
        +tab-list(['GeneralSettings ', 'Logo', 'CSS', 'Payment'], 2)
            +tab('CSS', 'acitve')
                .content_box
                    .alert_box.info Магазин Digiseller устанавливается на вашем сайте. Для его работы необходимо 
                        a.main_link(href="#") создать категории и добавить в них товары
                        |, 
                        a.main_link(href="#") произвести настройки
                        |  и вставить 
                        a.main_link(href="#") код виджета
                        |  на страницу вашего сайта.

                    