main
    .box
        .content_box
          .api_box
            .api_contents
              .title_block Общие методы
              ul.info_list
                li
                  a.main_link(href='/inside/api_general.asp#partner') Регистрация партнеров на своем сайте
                li
                  a.main_link(href='/inside/api_general.asp#token') Получение токена для api.digiseller.ru
                li
                  a.main_link(href='/inside/api_general.asp#searchuniquecode') Поиск и проверка платежа по уникальному коду
                li
                  a.main_link(href='/inside/api_general.asp#purchase_info') Получение информации о покупке по номеру счета
              .title_block Оплата
              ul.info_list
                li
                  a.main_link(href='/inside/api_payment.asp#precheck') Предварительная проверка параметров
                li
                  a.main_link(href='/inside/api_payment.asp#purchases_options') Определение значений параметров товара при покупке
                li
                  a.main_link(href='/inside/api_payment.asp#cart') Работа с корзиной
                li
                  a.main_link(href='/inside/api_payment.asp#pay') Переход к оплате
              .title_block Статистика
              ul.info_list
                li
                  a.main_link(href='/inside/api_statistics.asp#last_sales') Cписок последних продаж
                li
                  a.main_link(href='/inside/api_statistics.asp#statisticsells') Статистика продаж
                li
                  a.main_link(href='/inside/api_statistics.asp#statistics_agent_sales') Статистика продаж в роли агента
              .title_block Товары и категории
              ul.info_list
                li
                  a.main_link(href='/inside/api_catgoods.asp#categories') Список категорий (каталог)
                li
                  a.main_link(href='/inside/api_catgoods.asp#products') Список товаров из категории
                li
                  a.main_link(href='/inside/api_catgoods.asp#products_list') Быстрое получение описаний товаров по списку ID
                li
                  a.main_link(href='/inside/api_catgoods.asp#product_info') Описание товара
                li
                  a.main_link(href='/inside/api_catgoods.asp#products_price_calc') Получение цены с учетом входящих значений параметров и/или количества товара
                li
                  a.main_link(href='/inside/api_catgoods.asp#reviews') Отзывы о товаре
                li
                  a.main_link(href='/inside/api_catgoods.asp#seller-goods') Товары продавца
                li
                  a.main_link(href='/inside/api_catgoods.asp#discounts') Скидка по товару
                li
                  a.main_link(href='/inside/api_catgoods.asp#search') Поиск по товарам
                li
                  a.main_link(href='/inside/api_catgoods.asp#fast_image') Быстрое получение основного изображения товара
                li
                  a.main_link(href='/inside/api_catgoods.asp#producttomarketplacesubcategory') Добавление товара в подкатегорию торговой площадки
                li
                  a.main_link(href='/inside/api_catgoods.asp#copyproduct') Создание копии описания товара (клонирование без содержимого)
                li
                  a.main_link(href='/inside/api_catgoods.asp#goodswithoffer') Список товаров продавца с индивидуальным предложением
              .title_block Создание и редактирование товаров
              ul.info_list
                li
                  a.main_link(href='/inside/api_goods.asp#createuniquefixed') Создание товара типа "Уникальный товар с фиксированной ценой"
                li
                  a.main_link(href='/inside/api_goods.asp#createuniqueunfixed') Создание товара типа "Уникальный товар с нефиксированной ценой"
                li
                  a.main_link(href='/inside/api_goods.asp#createbook') Создание товара типа "Электронная книга"
                li
                  a.main_link(href='/inside/api_goods.asp#createsoftware') Создание товара типа "Программное обеспечение"
                li
                  a.main_link(href='/inside/api_goods.asp#createarbitrary') Создание товара типа "Произвольный цифровой товар"
                li
                  a.main_link(href='/inside/api_goods.asp#edituniquefixed') Редактирование товара типа "Уникальный товар с фиксированной ценой"
                li
                  a.main_link(href='/inside/api_goods.asp#edituniqueunfixed') Редактирование товара типа "Уникальный товар с нефиксированной ценой"
                li
                  a.main_link(href='/inside/api_goods.asp#editbook') Редактирование товара типа "Электронная книга"
                li
                  a.main_link(href='/inside/api_goods.asp#editsoftware') Редактирование товара типа "Программное обеспечение"
                li
                  a.main_link(href='/inside/api_goods.asp#editarbitrary') Редактирование товара типа "Произвольный цифровой товар"
                li
                  a.main_link(href='/inside/api_goods.asp#editbase') Редактирование базовых свойств товара. Включение / выключение товара.
                li
                  a.main_link(href='/inside/api_goods.asp#add_image_preview') Добавление изображений товара
                li
                  a.main_link(href='/inside/api_goods.asp#add_video_preview') Добавление youtube-ссылок в галерею
                li
                  a.main_link(href='/inside/api_goods.asp#preview_options') Изменение позиции изображения в галерее
                li
                  a.main_link(href='/inside/api_goods.asp#change_status') Массовое обновление статуса товаров
                li
                  a.main_link(href='/inside/api_catgoods.asp#producttomarketplacesubcategory') Добавление товара в подкатегорию торговой площадки
                li
                  a.main_link(href='/inside/api_catgoods.asp#marketplacecategories') Получение дерева категорий торговой площадки
                li
                  a.main_link(href='/inside/api_catgoods.asp#marketplacesubcategories') Получение подкатегорий торговой площадки
              .title_block Управление содержимым товаров
              ul.info_list
                li
                  a.main_link(href='/inside/api_content.asp#addfile') Метод добавления содержимого типа "Файл"
                li
                  a.main_link(href='/inside/api_content.asp#addfiles')
                    | Метод добавления содержимого типа "Файл" с распаковкой ZIP-архива (до 200 файлов)
                li
                  a.main_link(href='/inside/api_content.asp#addtext') Добавление содержимого типа "текст" или "ссылка"
                li
                  a.main_link(href='/inside/api_content.asp#addcode') Изменение количества генерируемых кодов Digiseller
                li
                  a.main_link(href='/inside/api_content.asp#updateFile') Метод редактирования содержимого типа "Файл"
                li
                  a.main_link(href='/inside/api_content.asp#updateText') Редактирование содержимого типа "текст" или "ссылка"
                li
                  a.main_link(href='/inside/api_content.asp#deleteContent') Удаление содержимого типа "текст", "ссылка" или "файл"
                li
                  a.main_link(href='/inside/api_content.asp#deleteAllContent') Полное удаление содержимого типа "текст", "ссылка" или "файл"
                li
                  a.main_link(href='/inside/api_content.asp#update_form') Создание или редактирование содержимого типа "форма"
              .title_block Шаблоны отчислений
              ul.info_list
                li
                  a.main_link(href='/inside/api_templates.asp#create_template') Cоздание шаблона комиссионных отчислений
                li
                  a.main_link(href='/inside/api_templates.asp#edit_template') Изменение шаблона комиссионных отчислений
                li
                  a.main_link(href='/inside/api_templates.asp#get_list_templates') Получение списка шаблонов отчислений
                li
                  a.main_link(href='/inside/api_templates.asp#delete_template') Удаление шаблона комиссионных отчислений
                li
                  a.main_link(href='/inside/api_templates.asp#get_products') Получение списка товаров из шаблона отчислений
                li
                  a.main_link(href='/inside/api_templates.asp#edit_products') Обновление товаров в шаблоне отчислений
                li
                  a.main_link(href='/inside/api_templates.asp#apply') Применение шаблона отчислений
              .title_block Параметры товара
              ul.info_list
                li
                  a.main_link(href='/inside/api_parameters.asp#getlist') Список параметров товара
                li
                  a.main_link(href='/inside/api_parameters.asp#getfull') Информация о параметре
                li
                  a.main_link(href='/inside/api_parameters.asp#createparam') Создание параметра
                li
                  a.main_link(href='/inside/api_parameters.asp#editparam') Редактирование параметра
                li
                  a.main_link(href='/inside/api_parameters.asp#deleteparam') Удаление параметра
                li
                  a.main_link(href='/inside/api_parameters.asp#createvariant') Создание варианта
                li
                  a.main_link(href='/inside/api_parameters.asp#editvariant') Редактирование варианта
                li
                  a.main_link(href='/inside/api_parameters.asp#deletevariant') Удаление варианта

            .api_partners
              .title_block Готовые решения для магазинов:
              .api_partners_item
                .api_partners_item_logo
                  a(href="#")
                    +icon('ytstyle')
                .api_partners_item_content Разработка уникального дизайна,
                  br
                  | логотипа, скриптов
              
              .api_partners_item
                .api_partners_item_logo
                  a(href="#")
                    +icon('scriptberry')
                .api_partners_item_content Разработка уникального дизайна,
                  br
                  | логотипа, скриптов

              .api_partners_item
                .api_partners_item_logo
                  a(href="#")
                    +icon('githab')
                .api_partners_item_content Используйте исходные коды готовых
                  br
                  | решений для вашего проекта

              .hint Приглашаем к сотрудничеству разработчиков и web-мастеров. Если вы создали для магазина свой шаблон и хотите предложить его другим пользователям, 
                a.main_link(href="#") свяжитесь с нами
                |. Мы можем опубликовать ссылку на ваше предложение и готовы обсудить расширение API Digiseller.