main
    .box 
        .content_box 
            .pages_list
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/account.html") account
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/account[paypal].html") account[paypal]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/account[purse].html") account[purse]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/account[robokassa].html") account[robokassa]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/agent_new_main.html") agent_new_main
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/agent_new_product[main].html") agent_new_product[main]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/agent_new_settings.html") agent_new_settings
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/agent_new_statistics_detailed.html") agent_new_statistics_detailed
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/agent_new_statistics_view.html") agent_new_statistics_view
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/agent_new_statistics.html") agent_new_statistics
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/analytics.html") analytics
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/api_general.html") api_general
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/api.html") api.html
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/black_list.html") black_list
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/buy_limits.html") buy_limits
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/cancellation.html") cancellation
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/checkticket.html") checkticket
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/clone_product.html") clone_product
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/comission_template.html") comission_template
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/comission_templates.html") comission_templates
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/create_task.html") create_task
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/curr2_rates.html") curr2_rates
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/day_reklama.html") day_reklama
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/description.html") description
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/discount_good.html") discount_good
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/discounts_personal.html") discounts_personal
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/discounts.html") discounts
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/edit_catalog.html") edit_catalog
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/editing_offsales_task.html") editing_offsales_task
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/exaccess.html") exaccess
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/exaccess[favicon].html") exaccess[favicon]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/exaccess[settings].html") exaccess[settings]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/exchange_answer.html") exchange_answer
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/exchange_detail.html") exchange_detail
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/exchange.html") exchange
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/export_catalog.html") export_catalog
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/export_excel.html") export_excel
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/export_graph.html") export_graph
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/fillup.html") fillup
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/good_link.html") good_link
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/good.html") good
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/goods.html") goods
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/individual_offer_page.html") individual_offer_page
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/mailings.html") mailings
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/messages.html") messages
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/my_info.html") my_info
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/my_reklama.html") my_reklama
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/my_reklama_adv.html") my_reklama_adv
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/my_security.html") my_security
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/myshop.html") myshop
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/myshop[category_html].html") myshop[category_html]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/myshop[category_img].html") myshop[category_img]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/myshop[category].html") myshop[category]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/myshop[view_css].html") myshop[view_css]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/myshop[view_html].html") myshop[view_html]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/myshop[view_logo].html") myshop[view_logo]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/myshop[view_settings].html") myshop[view_settings]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/news.html") news
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/notify_goods.html") notify_goods
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/notify_settings.html") notify_settings
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/options.html") options
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/partner_info.html") partner_info
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/partner_offer.html") partner_offer
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/partner_sale.html") partner_sale
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/partners.html") partners
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/partners[favorite].html") partners[favorite]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/partners[offers].html") partners[offers]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/partners[reports].html") partners[reports]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/partners[settings].html") partners[settings]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/partners[shop].html") partners[shop]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/payment.html") payment
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/place_code.html") place_code
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/place_cp.html") place_cp
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/place_new.html") place_new
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/place_options.html") place_options
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/place.html") place
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/places_history.html") places_history
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/places.html") places
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/pm_ds.html") pm_ds
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/pm_ik.html") pm_ik
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/pm_paymaster.html") pm_paymaster
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/pm_paypal.html") pm_paypal
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/pm_robox.html") pm_robox
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/pm_settings.html") pm_settings
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/pm_wm.html") pm_wm
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/pm_yandex.html") pm_yandex
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/pm.html") pm
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/preview.html") preview
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/price_change.html") price_change
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/promocodes.html") promocodes
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/promocodes[codes].html") promocodes[codes]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/promocodes[goods].html") promocodes[goods]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/promocodes[reports].html") promocodes[reports]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/purchases_buyer.html") purchases_buyer
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/purchases_detail.html") purchases_detail
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/purchases_detail[id].html") purchases_detail[id]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/purchases_inv_detail[debate].html") purchases_inv_detail[debate]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/purchases_inv_detail[invoice].html") purchases_inv_detail[invoice]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/purchases_inv_detail[response].html") purchases_inv_detail[response]
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/purchases.html") purchases
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/responses.html") responses
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/scheduler.html") scheduler
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/search.html") search
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/select_catalog.html") select_catalog
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/select_goods.html") select_goods
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/seller_data_wm.html") seller_data_wm
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/seller_data.html") seller_data
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/shop_rent.html") shop_rent
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/space_rent.html") space_rent
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/staff_new.html") staff_new
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/staff.html") staff
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/stat_move.html") stat_move
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/task_log_offsales.html") task_log_offsales
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/task_logs.html") task_logs
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/tasks.html") tasks
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/transfers_detail.html") transfers_detail
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/transfers.html") transfers
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/vk_publish_wiki.html") vk_publish_wiki
                a.main_link(target="_blank" href="https://sandbox.digiseller.ru/inside/old/newtest/build/vk_publish.html") vk_publish