main
    .box 
        .content_box 
            .alert_box.info Размещение ссылки на ваше рекламное место в разделе "РЕКОМЕНДУЕМЫЕ" является платной услугой,причем 
                span.decorated чем больше эта сумма, тем выше ваше рекламное место будет стоять в общем списке
                |  (для просмотра общего спискакликните на интересующую вас дату). Кроме того, рекомендуемые рекламные места размещаются на странице "Рекомендуемые рекламные места" сервиса "Местком.Ру", а такжевыделяются полужирным в поисковом каталоге "Местком.Ру".В случае блокировки вашего аккаунта администрацией или снятия рекламного места с продажи, оплата за размещение товара в разделе "РЕКОМЕНДУЕМЫЕ" не возвращается.
                br
                br
                |Выберите рекламное место и дату, нажав на [+]. Затем введите требуемую сумму и нажмите кнопку "оплатить". Указаннаясумма автоматически снимается с вашего 
                a.main_link(href="#") личного счета
                |. В случае нулевого остатка на нем вам необходимо 
                a.main_link(href="#") пополнить
                |  его. Принеобходимости вы можете увеличить оплаченную сумму повторив операцию.
            .alert_box.warning 
                span.bold Внимание!
                |  Минимальная стоимость данной услуги в 
                span.bold Mestkom.Ru
                |  составляет 
                span.bold 0,1
                |  WMZ

            .my_reklama_adv 
                .form_data_block
                    .form_data_block_item
                        .form_data_block_title Рекламное место:
                        .form_data_block_content Непознанное, обучающее, развитие человека (AL1o)
                    .form_data_block_item
                        .form_data_block_title Дата(ы) размещения:
                        .form_data_block_content
                            .form_element.date
                                label c
                                select
                                    option(value="0") 22.11.20
                                    option(value="1") 22.11.20
                            .form_element
                                label по
                                select
                                    option(value="0") 22.11.20
                                    option(value="1") 22.11.20
                    .form_data_block_item
                        .form_data_block_title Cумма (за сутки):
                        .form_data_block_content
                            .form_element.date
                                input(type="text")
                                |WMZ

                .btn_group 
                    button.btn.btn_blue оплатить
                    button.btn.btn_gray отказаться

            .my_reklama_table
                table.equal_cells
                    colgroup
                        col(style="width: 600px")
                        col
                        col
                        col
                        col
                        col
                        col
                        col
                        col
                        col
                        col
                    tbody
                        tr
                            td.align_left
                                .title
                                    span.bolder рекламное место 
                                    |\ 
                                    span.bolder дата
                            td
                                a.main_link.bolder(href="#") 24.12
                            td
                                a.main_link.bolder(href="#") 24.12
                            td
                                a.main_link.bolder(href="#") 24.12
                            td
                                a.main_link.bolder(href="#") 24.12
                            td
                                a.main_link.bolder(href="#") 24.12
                            td
                                a.main_link.bolder(href="#") 24.12
                            td
                                a.main_link.bolder(href="#") 24.12
                            td
                                a.main_link.bolder(href="#") 24.12
                            td
                                a.main_link.bolder(href="#") 24.12
                            td
                                a.main_link.bolder(href="#") 24.12
                        tr
                            td.align_left 
                                span.place_name.empty test
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 
                                span.bold 0,05 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                        tr
                            td.align_left 
                                span.place_name Название товара Название товара Название товара Название товара Название товара
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]
                            td 0,00 
                                a(href="#") [+]

                +pagination('Товаров на странице:')