main
    .box
        +tab-list(['Email', 'SMS', 'WMID', 'Telegram', 'Push', 'URL'], 0)
            +tab('Email', 'active')
                .content_box
                    .title_block Список email для получения уведомлений
                    .add_new_info
                        .form_element
                            input(type="text")
                        button.btn.btn_gray(data-placement="top" data-toggle="tooltip" title="добавить")
                            +icon('plus_button')
                    ul.new_info_list
                        li.new_info_item 
                            .new_info_content Pups@mail.ru
                            button.btn.btn_gray(data-placement="top" data-toggle="tooltip" title="удалить")
                                span.minus
                        li.new_info_item 
                            .new_info_content asdasdascvxcvasdasdascvxcvasdasdascvxcv@gmail.com
                            button.btn.btn_gray(data-placement="top" data-toggle="tooltip" title="удалить")
                                span.minus
                    
                    .notify_settings
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о продаже товара
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить, когда товар закончился
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об отрицательном отзыве
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об положитиельном отзыве
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомлять о сообщении покупателя в рамках переписки по счету
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о новом оффлайн-сообщении в чате
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о зачислении по партнерской программе
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о добавлении в избранные агенты

                        .notify_settings_additional
                            .form_element
                                span Отправлять email в виде
                                select
                                    option(value="HTML" selected) HTML
                                    option(value="Текст") Текст

            +tab('SMS')
                .content_box
                    .title_block Номера телефонов для получения уведомлений
                    .add_new_info
                        .form_element
                            input(type="text" placeholder="В международном формате, например: 79261234567")
                        button.btn.btn_gray(data-placement="top" data-toggle="tooltip" title="добавить")
                            +icon('plus_button')
                    ul.new_info_list
                        li.new_info_item 
                            .new_info_content 79998682020
                            button.btn.btn_gray(data-placement="top" data-toggle="tooltip" title="удалить")
                                span.minus
                        li.new_info_item 
                            .new_info_content 79998682020
                            button.btn.btn_gray(data-placement="top" data-toggle="tooltip" title="удалить")
                                span.minus
                    
                    .notify_settings
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о продаже товара
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить, когда товар закончился
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об отрицательном отзыве
                            .form_element.inside
                                label.for_check
                                    input(type="checkbox")
                                    span.text 79998682020
                            .form_element.inside
                                label.for_check
                                    input(type="checkbox")
                                    span.text 79998682020
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об положитиельном отзыве
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомлять о сообщении покупателя в рамках переписки по счету
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о новом оффлайн-сообщении в чате
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о зачислении по партнерской программе
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о добавлении в избранные агенты

                        .notify_settings_additional
                            |Доступно <b>0</b> SMS-уведомлений,  вы можете 
                            a.main_link(href="#") докупить SMS-пакет.

            +tab('WMID')
                .content_box
                    .alert_box.info Уведомления будут приходить на WMID, 
                        a.main_link(href="#") указанный в личном кабинете.
                    .separation
                    .notify_settings.empty_desc
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о продаже товара
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить, когда товар закончился
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об отрицательном отзыве
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об положитиельном отзыве
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомлять о сообщении покупателя в рамках переписки по счету
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о новом оффлайн-сообщении в чате
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о зачислении по партнерской программе
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о добавлении в избранные агенты
                    

            +tab('Telegram')
                .content_box
                    .notify_settings.empty_desc
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о продаже товара
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить, когда товар закончился
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об отрицательном отзыве
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об положитиельном отзыве
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомлять о сообщении покупателя в рамках переписки по счету
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о новом оффлайн-сообщении в чате
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о зачислении по партнерской программе
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о добавлении в избранные агенты
                        button.btn.btn_gray удалить привязку

                    .get_telegram_code
                        .alert_box.info Для получения нотификаций в Telegram необходимо привязать его к аккаунту в Digiseller.
                        button.btn.btn_gray получить рег. код
                        p Ваш код регистрации <b>503724</b>
                        p Добавьте в Telegram бота <b>DigisellerServiceBot</b> и отправьте команду на регистрацию <b>/reg 503724</b><br>
                            span После этого обновите страницу для отображения настроек.


            +tab('Push')
                .content_box
                    .alert_box.info Push-уведомления будут приходить на мобильные устройства c установленным приложением Digiseller 
                        a(href="#" data-placement="top" data-toggle="tooltip" title="Приложение в Google Play")
                            +icon('chat_android')
                        a(href="#" data-placement="top" data-toggle="tooltip" title="Приложение в App Store")
                            +icon('chat_apple')
                    .separation
                    .notify_settings.empty_desc
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о продаже товара
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить, когда товар закончился
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об отрицательном отзыве
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить об положитиельном отзыве
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомлять о сообщении покупателя в рамках переписки по счету
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о новом оффлайн-сообщении в чате
                        .list_actions
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о зачислении по партнерской программе
                            .form_element
                                label.for_check
                                    input(type="checkbox")
                                    span.text Уведомить о добавлении в избранные агенты
            +tab('URL')
                .content_box
                    .notify_settings_addurl
                        .form_element
                            span URL для получения уведомлений о продаже товаров:
                            input(type="text")
                        .form_element
                            span , метод 
                            select
                                option(value="get" selected) GET
                                option(value="post") POST
                        button.btn.btn_blue сохранить
                        button.btn.btn_gray удалить
                    .form_element
                        label.for_check
                            input(type="checkbox")
                            span.text уведомлять о партнерской продаже чужого товара
                    
                    .addurl_desc
                        p
                            span.bold GET-запрос
                            |: к строке параметров будут добавлены следующие значения:
                        .tech_info id_i={ID_I}&id_d={ID_D}&amount={AMOUNT}&curr={CURRENCY}&date={DATE}&email={EMAIL}&sha256={SHA256}&through={THROUGH}&ip={IP}&agent={AGENT}&cart_uid={CARTUID}&isMyProduct={ISMYPRODUCT}

                        p
                            span.bold POST-запрос
                            |: параметры передаются в JSON-формате в теле запроса:
                        .tech_info {"ID_I":{ID_I},"ID_D":{ID_D},"Amount":{AMOUNT},"Currency":{CURRENCY},"Email":{EMAIL},"Date":{DATE},"SHA256":{SHA256},"Through":{THROUGH},"IP":{IP},"Agent":{AGENT}, "CartUID":{CARTUID}, "IsMyProduct":{ISMYPRODUCT}}
                        ul.tech_list
                            li
                                span.bold ID 
                                |— номер счета
                            li
                                span.bold ID_D 
                                |— идентификатор товара
                            li
                                span.bold AMOUNT 
                                |— сумма покупки
                            li
                                span.bold CURRENCY 
                                |— валюта покупки (WMZ | WMR | WMU | WME)
                            li
                                span.bold EMAIL 
                                |— email покупателя
                            li
                                span.bold IP 
                                |— IP покупателя
                            li
                                span.bold DATE 
                                |— дата покупки
                            li
                                span.bold SHA256 
                                |— хэш от строки, состоящей из вашего пароля в нижнем регистре, номера счета и идентификатора товара через ";"
                            li
                                span.bold THROUGH 
                                |— base64-закодированная строка, содержащая набор параметров, дополнительно переданных с вашего сайта на страницу оплаты oplata.info. Параметры могут нести в себе User ID, значения для отслеживания конверсии оплаты и т.п.
                                br
                                |После base64_decode, строка будет выглядеть примерно так: "param1=value& param2=value2&..."
                            li
                                span.bold AGENT 
                                |— идентификатор агента
                            li
                                span.bold CARTUID 
                                |— идентификатор корзины (в случае продажи через корзину)
                            li
                                span.bold ISMYPRODUCT 
                                |— признак свой/чужой товар был продан (True/False)
                            li
                                span.bold REFERER 
                                |— заголовок HTTP_REFERER при переходе клиента на страницу оплаты (наличие не гарантируется)
