main
    .box
        .content_box
            .page_nav
                ul.breadcrumbs_list
                    li.breadcrumb_item
                        a.main_link.back_link(href="#") к списку переводов

        .content_box
            .transfers 
                .transfers_detail 
                    .transfers_detail_item 
                        .title Поступило на счета:
                        .value 100500 WMR
                    .transfers_detail_item 
                        .title Переведено на кошелек:
                        .value 100500 WMR
                    .transfers_detail_item 
                        .title Комиссия WebMoney:
                        .value 20.55 WMR

                .alert_box.additional_info Вы выбрали перевод средств на WMP-кошелек 
                    span.bold P171363487578
                    |. На ваш WebMoney Keeper была отправлена 
                    a.main_link(href="#") ссылка для завершения перевода
                    |.


                table.equal_cells
                    colgroup
                        col(style="width: 240px")
                        col
                        col(style="width: 110px")
                        col(style="width: 110px")
                        col(style="width: 110px")
                        col(style="width: 110px")
                    thead
                        tr
                            th Тип операции
                            th Комментарий
                            th Дата
                            th Приход
                            th Расход
                            th Валюта
                    tbody
                        tr
                            td партнерские начисления
                            td XBOX GAME PASS ULTIMATE+EA Play на 14 дней global 🌍
                            td 10.12.2020 
                            td 1,27
                            td 1,27
                            td 
                                .rub WMR
                        tr
                            td партнерские начисления
                            td XBOX GAME PASS ULTIMATE+EA Play на 14 дней global 🌍 XBOX GAME PASS ULTIMATE+EA Play на 14 дней global 🌍 XBOX GAME PASS ULTIMATE+EA Play на 14 дней global 🌍 XBOX GAME PASS ULTIMATE+EA Play на 14 дней global 🌍 
                            td 10.12.2020 
                            td 1,27
                            td 1,27
                            td 
                                .uah WMU