main 
    .box 
        .content_box 
            .alert_box.info Здесь вы можете пополнить свой личный счет на сервисе Digiseller. Обращаем ваше внимание на то, что средства, пополненные с банковской карты, могут быть потрачены только на рекламу ваших товаров (раздел 
                a.main_link(href="#") рекомендуемые
                |), оплату дополнительного 
                a.main_link(href="#") дискового пространства
                |  или 
                a.main_link(href="#") снятие ограничения
                |  на количество партнерских товаров в вашем магазине. Потратить эти средства на что-либо другое (например, оплату комиссии PayPal) или вывести на свой электронный кошелек нельзя.
            .fillup 
                .form_data_block
                    .form_data_block_item
                        .form_data_block_title Сумма:
                        .form_data_block_content
                            .form_element
                                input(type="text")
                            .form_element
                                select
                                    option(value="0") WMZ
                                    option(value="0") WMR
                                    option(value="0") WME
                                    option(value="0") WMX
                    .form_data_block_item
                        .form_data_block_title Способ оплаты: 
                        .form_data_block_content
                            .form_element
                                select
                                    option(value="0") WebMoney
                                    option(value="0") Интернет-банкинг
                                    option(value="0") Bitcoin
                                    option(value="0") Подарочный сертификат
                button.btn.btn_blue пополнить