main 
    .box 
        .content_box 
            .checkticket 
                .title Вам не удалось войти через WebMoney!
                .alert_box.additional_info Если по каким-либо причинам вы утратили контроль над зарегистрированным WM-идентификатором (утеря ключей, пароля и т.п.), вам необходимо пройти 
                    a.main_link(href="#") процедуру восстановления
                    
                    |. Других вариантов получить доступ к закрытой информации 
                    span.bold НЕТ
                    |!