main
    .box
        +tab-list(['General_rules', 'Digiseller', 'WM_Merchant', 'PayPal', 'PayMaster', 'Robokassa', 'Yandex_Checkout', 'Settings'], 4)
            +tab('PayMaster', 'active')
                .content_box
                    .pm
                        .pm_settings
                            .alert_box.info Прием платежей через 
                                a.main_link(href="#") PayMaster
                                |  осуществляется напрямую на счет в системе PayMaster. Если вы еще не зарегистрированы в PayMaster, воспользуйтесь инструкцией справа на странице.
                                br
                                br
                                |При продаже товаров PayMaster-оплатой комиссия взимается с вашего 
                                a.main_link(href="#") личного счета
                                |  на сервисе Digiseller. При отсутствии доступных средств на личном счете, через некоторое время этот способ оплаты автоматически блокируется. Рекомендуем заблаговременно 
                                a.main_link(href="#") пополнить
                                |  свой счет в Digiseller.

                            .pm_purses_settings
                                .title_top
                                    .title.bold Ваши учетные данные в PayMaster:
                                ul.pm_purses_settings_list
                                    li.pm_purses_settings_list_item
                                        .title Идентификатор сайта:
                                        .form_element
                                            input(type="text")
                                        .configure
                                            .text
                                                +icon('file_accept')
                                                |проверено
                                    li.pm_purses_settings_list_item.btns
                                        .title
                                        .form_element
                                            .btn_group
                                                button.btn.btn_gray(disabled) сохранить
                                                button.btn.btn_gray проверить
                                        .configure

                            .pm_purses_settings
                                .title_top
                                    .title.bold Дополнительные настройки:

                                ul.pm_purses_settings_list
                                    li.pm_purses_settings_list_item
                                        .title Онлайн-касса:
                                            a(href="#"): +icon('question_table')
                                        .form_element
                                            select
                                                option(value="0" selected) включена
                                                option(value="1") выключена
                                        .configure
                                    li.pm_purses_settings_list_item
                                        .title Ставка НДС для формирования электронного чека:
                                        .form_element
                                            select
                                                option(value="0" selected) берется из настроек товара
                                                option(value="1") расчётная ставка 20%‍
                                                option(value="1") расчётная ставка 10%‍‍
                                                option(value="1") расчётная ставка 20/120‍‍
                                                option(value="1") расчётная ставка 10/110‍‍
                                                option(value="1") расчётная ставка 0%‍
                                                option(value="1") НДС не накладывается
                                        .configure

                            .pm_purses_settings
                                .title_top
                                    .title.bold Доступные способы оплаты:
                                    span нет

                        .pm_description
                            +fieldset('Регистрация и настройка счета в PayMaster')
                                .fieldset_text
                                    .content
                                        span.bold 1
                                        |. Оформите 
                                        a.main_link(href="#") заявку на подключение
                                        |  в Paymaster. Обращаем ваше внимание, что подключить PayMaster возможно, только если вы являетесь юридическим лицом / ИП / самозанятым.
                                    .content
                                        span.bold 2
                                        |. После рассмотрения заявки и подписания договора, сообщите вашему менеджеру в Paymaster, что вы собираетесь вести торговлю, используя сервис 
                                        |Digiseller. Менеджер внесет соответствующие изменения в настройки вашей учетной записи в PayMaster.
                                    
                                    .content
                                        span.bold 3
                                        |. После получения доступа к своей учетной записи в PayMaster, укажите идентификатор вашего сайта (Merchant ID), который вы найдете в 
                                        a.main_link(href="#") личном кабинете
                                        |  на странице "Список сайтов" в первой колонке.
                                    a.fieldset_img_toggle(href="#" data-toggle="modal" data-target="#img_one"): img(src="img/pm_paymaster_1.png", alt="")

                                    .content
                                        span.bold 4
                                        |. Проверьте в настройках сайта, разрешена ли замена URL. Если нет, включите.
                                    a.fieldset_img_toggle(href="#" data-toggle="modal" data-target="#img_one"): img(src="img/pm_paymaster_2.png", alt="")

                                    .content
                                        span.bold 5
                                        |. Проверьте, присутствует ли в списке пользователей логин 
                                        span.bold digiseller@molot.ru
                                        |  с уровнем доступа 
                                        span.bold Программист
                                        |. Если такового нет, добавьте.

                                    a.fieldset_img_toggle(href="#" data-toggle="modal" data-target="#img_one"): img(src="img/pm_paymaster_3.png", alt="")

.modal.fade(id="img_one" tabindex="-1" aria-labelledby="img_one" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-lg.modal-preview
        .modal-content
            .modal-body
                // добавляем/удаляем data-interval="false" родительскому тегу карусели, чтобы стопнуть автоплей слайдов
                .carousel.slide(id="carouselExampleFade" data-ride="carousel" data-interval="false")
                    .carousel-inner
                        .carousel-item.active
                            img(src="img/pm_paymaster_1.png", alt="")
                        .carousel-item
                            img(src="img/pm_paymaster_2.png", alt="")
                        .carousel-item
                            img(src="img/pm_paymaster_3.png", alt="")
                    a.carousel-control-prev(href="#carouselExampleFade" role="button" data-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                    a.carousel-control-next(href="#carouselExampleFade" role="button" data-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
            .modal-footer
                .carousel_control
                    .carousel_control_box
                        // на плей надо будет добавлять контейнеру карусели data-interval
                        button.btn.btn_gray
                            +icon('control_play')
                        a.btn.btn_gray(href="#carouselExampleFade" role="button" data-slide="prev")
                            +icon('control_left')
                        span.slides_counter 1/10
                        a.btn.btn_gray(href="#carouselExampleFade" role="button" data-slide="next")
                            +icon('control_right')
                    .carousel_control_close
                        button.btn.btn_gray(data-dismiss="modal" aria-label="Close")
                            +icon('control_close')