footer
    .box
        .footer_content
            .copy
                |Copyright ©2020 Fincom Teh Ltd.
                br
                | Designed by 
                a(href="#") Computing Forces
            .footer_nav
                a(href="#") API
                a(href="#") Telegram Bot
                a(href="#") Чат
            a.footer_logo(href="#")
                +icon('googleplay')

script(src="static/js/libs.min.js")
script(src="static/js/svgxuse.min.js" defer)
script(src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Array.from%2Ces5%2Ces6%2CSymbol%2CSymbol.iterator%2CDOMTokenList%2CObject.assign%2CCustomEvent%2CElement.prototype.classList%2CElement.prototype.closest%2CElement.prototype.dataset%2CArray.prototype.find%2CArray.prototype.includes")
script(src="js/common.js")
