.cost_zone 
    .cost_zone_price
        .form_element
            span Стоимость составит <b>12</b> 
            select
                option(value="WMZ") WMZ
                option(value="WMR") WMR
                option(value="WME") WME
                option(value="WMU") WMU
        button.btn.btn_blue заплатить
    .cost_zone_data
        .cost_zone_data-title На счету: 
        ul.cost_zone_data_list
            li.active 56.75 WMZ
            li 2540,53 WMR
            li 2,71 WME
            li 0 WMU
        a.main_link(href="#") пополнить счет