nav.main_nav
    .main_nav_top
        .box
            ul
                li
                    a(href="#") Товары
                li
                    a(href="#") Магазин
                li
                    a(href="#") Рекламные места
                li
                    a(href="#") Бухгалтерия
                li
                    a(href="#").active Личный кабинет
                li
                    a(href="#") Партнерская программа
                li
                    a(href="#") Описание сервиса
                li
                    a(href="#") Торговая площадка
                li
                    a.question_mark(href="#" data-placement="top" data-toggle="tooltip" title="задать вопрос")
                        +icon('question_mark')
    .main_nav_bottom
        .box
            ul
                li
                    a(href="my_info.html").active Детали
                li
                    a(href="messages.html") Переписка
                li
                    a(href="news.html") Новости
                li
                    a(href="my_security.html") Безопасность
                li
                    a(href="space_rent.html") Дисковое пространство
                li
                    a(href="notify_settings.html") Уведомления
                li
                    a(href="staff.html") Сотрудники
                li
                    a(href="mailings.html") Рассылки