.alert_box {
    border-radius: $border-rad;
    font-size: 13px;
    padding: 7px 10px 8px;
    display: flex;
    align-items: center;
    border: 1px solid;
    display: inline-block;
    width: 100%;
    .bold {
        font-weight: 600;
    }

    & + .alert_box {
        margin-top: 10px;
    }

    &.before_content {
        margin-bottom: 10px;
    }

    .main_link {
        color: #1883c9;
    }
}

.pic-chat_android,
.pic-chat_apple {
    @include box(24px);
    margin-right: 5px;
}

.alert_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 99999;
    padding: 17px 0;
    opacity: .9;
    transform: translateY(-100%);
    &.err {
        background-color: #fed6bc;
    }
    &.info {
        background-color: #fff;
    }

    &.active {
        transition: .2s;
        transform: translateY(0);
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    }
}