.choices {
    font-size: 14px;
    border: solid 1px #cfd8dc;
    border-radius: 4px;
    &.is-focused {
        outline: none;
        box-shadow: 0 0 4px 0 $main_links_color;
        border: solid 1px $main_links_color;
    }
}

.choices__inner {
    background: rgba(0,0,0,0);
    border: solid 1px rgba(0,0,0,0);
    min-height: auto;
    padding: 3px 4px;
}

.choices__input {
    background: rgba(0,0,0,0);
    margin-bottom: 0;
}

.choices__list--multiple .choices__item {
    border-radius: 4px;
    padding: 3px 10px;
    background-color: #2d97de;
    border: 0;
    margin-bottom: 0px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    cursor: default;
}

.choices__list--multiple .choices__item.is-highlighted {
    border: 0;
    background-color: #2d97de;

}

