.modal-header {
    background: #55636B;
    color: #fff;
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    border-bottom: 0;
}

.err {
    .modal-header {
        background: #d0021b;
    }
}

.modal-content {
    border: 0;
}

.modal-body {
    padding: 10px 15px;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
}

.modal-footer {
    border: 0;
    padding: 0 15px 10px;

    & > * {
        margin: 0;
    }
}

span.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.pic-modal_close {
    width: 10px;
    height: 10px;
}

.form_group{
    &.inline_from {
        display: flex;
        .form_element {
            flex-direction: row;
            align-items: center;
            margin-right: 5px;
            // &:first-child {
            //     flex: 1;
            // }

            label {
                margin-right: 5px;
            }

            span {
                margin-left: 5px;
            }
        }
    }
}

.mailing_current_filters {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .title {
        margin-right: 5px;
    }
}

.added_recipients_counter {
    display: flex;
    height: 34px;
    align-items: center;
    background: #E9F5FE;
    border: 1px solid #c5d1d9;
    padding: 3px 9px;
    border-radius: $border-rad;
    margin-left: 5px;
    span {
        display: inline-block;
        border-radius: 2px;
        padding: 3px 7px;
        background: #2c97de;
        color: #fff;
        margin-left: 5px;
    }
}

.mailings_table_filters {
    padding: 10px;
    border: 1px solid #B2B2B2;
    height: 165px;
    overflow-y: auto;
}

.mailings_table_filters_setting {
    padding: 10px;
    border: 1px solid #B2B2B2;
    margin-top: 10px;
    .form_element {
        margin-bottom: 5px;
        select {
            width: 120px;
        }
    }

    label {
        width: 150px;
        flex: none;
    }

    &-date {
        display: flex;
        .form_element {
            input {
                width: 180px;
                margin-right: 8px;
            }
        }
    }


    .search_result_box {
        width: 368px;
    }
}

.modal-dialog.modal-tinymce {
    max-width: 600px;
}

.modal-tinymce {
    .form_element {
        margin-bottom: 10px;
        span {
            margin-right: 5px;
        }
        select {
            margin-right: 5px;
        }

        &.mailing_title {
            flex-direction: column;
            align-items: flex-start;
            input {
                width: 100%;
            }
            label {
                margin-bottom: 5px;
            }
        }
    }

    textarea {
        height: 400px;
    }

    .tox-tinymce {
        // переопределение высоты плагина для textarea
        height: 400px!important;
    }

    .myshop_settings_modal {
        textarea {
            height: 266px;
        }

        .tox-tinymce {
            // переопределение высоты плагина для textarea
            height: 266px!important;
        }
    }
}



.mailings_email_title {
    margin-bottom: 10px;
    span {
        color: $additional_info_color;
        font-weight: 600;
    }

    .form_element {
        input[type=text] {
            flex: 1;
        }
    }
}

.mailing_text_preview {
    margin: 10px 0;
    span {
        svg {
            width: 20px;
            height: 19px;
        }
    }
}

.params_to_server_address {
    margin: 10px 0 20px;
}

.params_to_server_condition {
    border-bottom: 1px solid $default_tab_bg_color;
    padding-bottom: 10px;
    .title {
        color: $footer_bg;
        margin-bottom: 5px;
    }
    
    .form_element {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.params_id_interface {
    padding-top: 10px;
    .hint {
        margin-top: 5px;
    }
}

.modal-preview {
    .carousel-inner {
        align-items: center;
        display: flex;
        transition: .2s;
    }
    .carousel-item {
        text-align: center;
        img {
            max-width: 100%;
            max-height: 400px;
        }
    }
}

.carousel_control {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel_control_box {
    display: flex;
    align-items: center;
}

.slides_counter {
    margin: 0 5px;
    display: inline-block;
}

@media (min-width: 576px){
    .modal-lg {
        max-width: 800px;
        margin: 1.75rem auto;
    }

    .modal-md {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}

@media screen and (min-width: 40px) {
    .partner_goods_modal {
        min-width: 1140px;
        position: absolute;
        .modal-dialog {
            max-width: 1140px;
        }
    }
}


.popup {
    .modal-body {
        padding: 20px;
    }
}

.modal_btn_group_centered {
    display: flex;
    margin-top: 20px;
    .btn {
        flex: 1;
    }
}

