.nav-tabs {
    border: 0;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-link {
        display: flex;
        font: 700 14px Lato;
        margin-right: 5px;
        position: relative;
        padding: 5px 16px;
        height: 45px;
        justify-content: center;
        align-items: center;
        border-top-left-radius: $border-rad / 2;
        border-top-right-radius: $border-rad / 2;

        .tab_nums {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 24px;
            height: 24px;
            border-radius: 24px;
            background-color: #78909c;
            font-weight: 600;
            color: #ffffff;
            font-size: 11px;
            margin-left: 8px;
            padding: 2px 6px 0;
        }

        svg {
            margin-left: 5px;
        }
    }

    .nav-link.active {
        cursor: default;
        background: #fff;
        box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.26);
    }

    .nav-link.disabled {
        color: #ccc;
        // pointer-events: none;
        background: #eceff1;
    }
} 