extends ../layout/layout.pug
block vars
	- var title = 'Digiseller';
block header
	include ../includes/header.pug
block content
	include ../includes/content-myshop[view_logo].pug
block footer
	include ../includes/footer.pug    
