extends ../layout/layout.pug
block vars
	- var title = 'Digiseller';
block header
	include ../includes/header.pug
block content
	include ../includes/content-vk_publish.pug
block footer
	include ../includes/footer.pug