.account {
    table {
        margin-top: 20px;
        overflow: visible;

        &.payment {
            width: auto;
            .form_element {
                margin-bottom: 0;
            }

            input[type=text] {
                width: 90px;
                margin-right: 5px;
            }

            td {
                overflow: visible;
            }

            .form_group {
                position: absolute;
                left: calc(100% + 5px);
                top: 0;
                .form_element {
                    margin-bottom: 5px;
                }
            }
        }
    }
    thead {
        border-bottom: 0;
    }

    .alert_box {
        .title {
            margin-bottom: 10px;
        }
    }

    .active {
        
        &.collapsed {
            background: #fff;
            border-top-color: rgba(0,0,0,0);
        }
    }

    .pic-read_check {
        fill: $main_links_color;
        @include box(10px);
    }
}

.form_filter_list {
    display: flex;
}

.form_filter_title {
    margin-bottom: 5px;
}

.form_filter_item {
    margin-right: 20px;
}

.transfer_to_wallet {
    position: relative;
}

.exchanger_text {
    font: bold 14px Lato;
    color: $headers_color;
    margin: 10px 0 40px;
}

.account_payment {
    table {
        margin-top: 20px;
    }

    .inner_row {
        td:first-child {
            padding-left: 27px;
        }
    }

    .text {
        margin-top: 10px;
    }
}

.nested_table {
    display: flex;
    align-items: center;
    cursor: pointer;
    .pic-catalog_plus,
    .pic-catalog_minus {
        fill: #fff;
        @include box(8px);
    }

    .icon_item {
        @include flex-center;
        height: 18px;
        width: 18px;
        margin-right: 7px;
        border-radius: 3px;
        &.plus,
        &.minus {
            background: $main_links_color;
        }
    }
}