.curr_rates {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.curr_rates_item {
    flex: 1;
    &:nth-child(odd) {
        margin-right: 30px;
    }

    .title {
        margin-bottom: 10px;
    }

    .hint {
        margin-top: 5px;
    }
}

.currency_list_item {
    display: flex;
    align-items: center;
    color: $additional_info_color;
    border-bottom: 1px solid #efefef;
    padding: 4px 0;
    a {
        font-weight: 600;
        color: $main_links_color;
    }

    .btn {
        margin-left: auto;
        width: 110px;
    }
}

.currency_name {
    width: 42px;
}

.currency_text {
    width: 200px;

    option[value=no] {
        font-weight: 600;
        color: #d0011b;
    }
}

.exchange_rate {
    display: flex;
    align-items: center;
    .form_element {
        margin: 0 3px;
        input {
            width: 70px;
        }
    }
}

.transfers {
    table {
        margin-top: 20px;
    }
}

.transfers_detail_item {
    display: flex;
    margin-bottom: 15px;
    font: 600 13px Roboto;
    .title {
        min-width: 200px;
        margin-right: 10px;
        
    }

    .value {
        font-size: 13px;
        font-weight: normal;
    }
}