.pic-good_link {
    @include box(16px);
    margin: -5px 5px 0;
}

.goods_path_list {
    display: flex;
    margin-bottom: 10px;
    li {
        padding-right: 20px;
        &:not(:last-child) {
            position: relative;
            &:after {
                left: calc(100% - 12px);
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(178,193,201,0);
                border-left-color: #b2c1c9;
                border-width: 5px;
                margin-top: -5px;
            }
        }

        .main_link {
            margin-left: 15px;
        }
    }
}

.gift_block {
    .additional_info {
        margin-top: 10px;
    }
}

.counter {
    position: relative;
    border: solid 1px #cfd8dc;
    color: $additional_info_color;
    background: $default_tab_bg_color;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    padding: 0 11px;

    
    display: flex;
    align-items: center;
    .lang {
        position: absolute;
        left: -30px;
    }
}


.form_data_block_collapse {
    .alert_box {
        margin-top: 5px;
    }
}

.form_data_block_content {
    .text_block {
        width: 100%;
        textarea {
            width: 100%;
            height: 100px;
        }

        .form_element {
            margin-bottom: 5px;
            position: relative;
        }

        input[type=text] {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            &:focus {
                & + .sales_count_list {
                    display: block;
                }
            }
        }

        .lang {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .instrtuctions {
        width: 500px;

        input[type=text] {
            width: 100%;
        }
    }

    .main_link {
        max-width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.sales_count_list {
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 100%;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    border: solid 1px #cfd8dc;
    width: 400px;
    display: none;
    li {
        padding: 10px 12px;
        font: 600 14px Lato;
        cursor: pointer;
        color: #607d8b;
        &:hover {
            background: #f5fbff;
        }
    }
}

.check_code_block {
    .hint {
        margin-top: 0;
        margin-left: 5px;
    }

    .form_element {
        margin-bottom: 10px;
    }
}

.check_code_auto {
    width: 600px;
    .form_element {
        input[type=text] {
            width: 100%;
            font-family: Lato;
        }

        .for_check {
            margin-top: 10px;
        }
    }

    .add_new_info_list {
        padding-top: 5px;
        .form_element {
            width: 350px;
        }
        
        .btn {
            margin-left: 5px;
        }
    }

    .title {
        margin-bottom: 10px;
    }

    .new_info_list {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .new_info_item {
        margin-bottom: 0;
        .btn {
            margin-left: 5px;
        }
    }
}

