.debates {
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 490px;
    margin-top: 20px;
    border-radius: 4px;
    position: relative;

    .spinner-border {
        margin-top: 15px;
    }
}

.debates_content {
    border-radius: 4px;
    padding: 15px 15px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.answerer_typing {
    color: $footer_bg;
    font-size: 14px;
    padding-top: 30px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 5%, rgba(255,255,255,1) 50%);
    width: calc(100% - 20px);
    position: absolute;
    bottom: 100%;
    left: 1px;
    text-align: center;
    
    .pic-pen {
        @include box(11px);
        margin-right: 5px;
        fill: $footer_bg;
    }
}

.typing_view_box {
    background: #eeeded;
    display: inline-block;
    height: 100%;
    padding: 5px 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.my_message, .answerer_message {
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    margin: 15px 0;
    max-width: 410px;
    padding: 11px 15px 10px;
    border-radius: 8px;
    line-height: 18px;

    .img_link {
        height: 90px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    img {
        width: auto;
        max-height: 100%;
    }
}

.message_detail {
    justify-self: flex-end;
    align-self: flex-end;
    font: 700 11px "Lato";
    margin-left: auto;
    padding-left: 10px;
    display: flex;
    align-items: center;

    margin-top: 6px;
    transform: translateY(-3px);

    .pic-read_check {
        fill: $main_links_color;
    }
}

.my_message {
    align-self: flex-end;
    position: relative;
    
}

.read_date {
    position: absolute;
    bottom: -18px;
    right: 15px;
    color: $main_links_color;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    .pic-read_check {
        fill: $main_links_color;
        @include box(12px, 9px);
        margin-right: 5px;
    }
}

.answerer_message {
    align-self: flex-start;
}

.pic-read_check {
    @include box(13px, 10px);
    margin-left: 5px;
}

.debates_textarea {
    width: 50%;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    position: relative;
    .form_element {
        width: 460px;
    }
    textarea {
        height: 100px;
    }

    .button_group {
        display: flex;
        flex: 1;
        input[type=file] {
            display: none;
        }
        label {
            cursor: pointer;
            @include box(34px);
            @include flex-center;
            margin: 0 10px;
            border-radius: $border-rad;
            
        }
    }

    .btn {
        margin-left: auto;
    }

    a {
        position: absolute;
        top: 10px;
        right: 10px;
        .pic-translate {
            @include box(19px, 16px);
            margin-left: 0px;
        }
    }
}

.pic-clip {
    @include box(17px, 19px);
}

.attached_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    li {
        margin-right: 20px;
    }
}

.attached_item {
    @include box(160px, 90px);
    position: relative;
    background: #eee;
    border: 1px solid #c8c8c8;

    @include flex-center;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.attached_error {
    font-weight: 700;
    .filename {
        color: #d50000;
        display: inline-block;
        max-width: 100%;
        overflow: visible;
        position: relative;
        margin: 10px 0 0;
    }
    
    .delete_attached_file {
        right: -20px;
        top: 1px;
    }
}

.filename {
    color: $headers_color;
    margin: 10px 0;
    text-align: center;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.delete_attached_file {
    position: absolute;
    right: 5px;
    top: 5px;
    @include flex-center;
    @include box(15px);
    cursor: pointer;
    opacity: .3;
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 50%;
    &:hover {
        opacity: .5;
    }
}



.pic-close_circle {
    @include box(15px);
}

.message_filter_box {
    margin-bottom: 20px;
}

.answerer_message_options {
    display: flex;
    .main_link {
        margin-right: 15px;
    }
}

.answerer_name {
    font-weight: 700;
    margin-right: 15px;
}

.my_message_alert {
    margin-top: 20px;
}

.hint {
    font-size: 13px;
    color: #90a4ae;
}

.mesage_count_data {
    display: flex;
    align-items: center;
}

.new_msg_count {
    color: red;
    font-weight: bold;
}

.new_msg_icon {
    margin-left: auto;
    margin-right: 10px;
    animation: msg 1s infinite alternate ease-in-out;
}

@keyframes msg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pic-mail {
    @include box(21px, 21px);
    stroke: #607d8b;
    stroke-width: 7px;
}

.debates_content_header {
    background: #f6f8f9;
    border-bottom: solid 1px #e7ebee;
    padding: 8px 15px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.debate_translate {
    margin-right: 5px;
    display: flex;
    align-items: center;
    .pic-translate {
        @include box(16px);
        margin-right: 5px;
    }
}

.purchase_inv_detail {
    .answerer_message {
        .message_detail {
            width: 100%;
            justify-content: space-between;
            padding-left: 0;
            align-items: center;
        }
    }

    .debates {
        margin-top: 0;
    }
}

.answer_date {
    width: auto;
    margin-left: auto;
}

.muted_message {
    color: $headers_color;
    padding: 30px 15px 5px;
}

