.myshop_settings {
    margin-top: 20px;
    display: flex;
    .hint {
        font-size: 12px;
        margin-top: 5px;
    }
}

.myshop_settings_l {
    flex: 1;
    margin-right: 30px;
}

.myshop_settings_r {
    flex: 1;
}

.myshop_settings_option {
    display: flex;
    padding: 5px 0;
    border-bottom: 1px solid #f1f1f1;
    &.address {
        border: 0;
    }
    .option_item {
        width: 470px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form_element {
            width: 100%;
        }

        &.img {
            .form_element {
                width: 80px;
                input[type=text] {
                    margin-right: 5px;
                }
            }
        }
    }

    .option_control {
        flex: 1 1 auto;
        .btn {
            width: 100%;
        }
    }
}

.myshop_settings_item {
    &:not(:first-of-type) {
        margin-top: 20px;
    }

    select {
        width: 100%;
    }
}

.myshop_logo {
    margin-top: 20px;
}

.myshop_logo_img {
    img {
        max-height: 100px;
    }
}

.myshop_css {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .title_block {
        width: 100%;
    }
}

.myshop_css_tabs {
    width: 170px;
    padding-top: 20px;
}

.myshop_css_tabs_content {
    flex: 1;
    padding: 10px;
    border: 1px solid #DBE3ED;
    position: relative;
    z-index: 1;
    left: -1px;
}

.myshop_css_tabs {
    a {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
        background-color: #F6F6F6;
        border: 1px solid #F6F6F6;
        color: $main_links_color;

        &:hover {
            .myshop_css_tabs_name {
                text-decoration: none;
            }
        }

        &.active {
            pointer-events: none;
            background-color: #FFF;
            border-top: 1px solid #DBE3ED;
            border-left: 1px solid #DBE3ED;
            border-bottom: 1px solid #DBE3ED;
            border-right: 1px solid #fff;
            position: relative;
            z-index: 2;
        }
    }

    .hint {
        padding-left: 26px;
        font-size: 12px;
    }
}

.myshop_css_tabs_name {
    display: inline-flex;
    width: 100%;
    text-decoration: underline;
    
    .icon {
        display: inline-block;
        @include box(16px);
        margin-right: 10px;
        margin-top: -2px;

        &.chosen {
            .pic-read_check {
                fill: #01b801;
            }
        }
    }

    .pic-read_check {
        fill: #b9b9b9;
        @include box(16px);
    }
}

.myshop_css_tabs_content {
    textarea {
        width: 100%;
        height: 335px;
    }
}

.myshop_css_tabs_content_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    option[value="green"] {
        color: #01b801;
    }
    option[value="gray"] {
        color: gray;
    }
}


// myshop preview
.myshop_html {
    display: flex;
    margin-top: 20px;
}

.myshop_html_options {
    flex: 1;

    .hint {
        font-size: 11px;
    }
}

.myshop_html_preview {
    flex: 1;
}

.myshop_html_options_list {
    margin-left: 20px;
    margin-bottom: 20px;
    li {
        margin-bottom: 7px;
    }

    .inside {
        margin: 10px 0 10px 25px;
        .form_element {
            margin-bottom: 5px;
        }
    }
}

.myshop_html_code {
    margin-top: 40px;
    textarea {
        height: 150px;
    }
}

.myshop_html_plugins {
    margin-top: 20px;
}

.plugin_links {
    a {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        color: $main_links_color;
    }
    svg {
        border: 1px solid silver;
        margin-bottom: 5px;
        padding: 6px;
        width: 215px;
        height: 59px;
    }
}
