.partners {
    display: flex;
}

.partners_stat {
    width: 50%;
}

.partners_stat_top {
    display: flex;

    .form_element {
        flex: auto;
        select {
            margin-left: 5px;
        }
    }
}

.partners_aside {
    min-width: 250px;
}

.partners_aside {
    align-items: center;
    display: flex;
}

.partners_stat_content {
    display: flex;
    margin: 40px 0 20px;
    
}

.partners_stat_content_table {
    flex: auto;
}

.extended_stat_link {
    text-align: right;
    margin-top: 15px;
    a {
        font: 600 15px Lato;
        color: $main_links_color;
        position: relative;
        &:hover {
            color: $main_links_color;
        }
        &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: -13px;
            @include box(6px);
            border-radius: 4px;
            background: $main_links_color;
        }
    }
}

.partner_box {
    table {
        width: 400px;
        margin-bottom: -5px;
        tr:last-child {
            border-bottom: 0;
        }
    }

    .hint {
        margin-top: 20px;
    }

    .btn.agent_msg_link {
        position: absolute;
        right: 0;
        bottom: calc(100% + 10px);
    }
}

.pic-heart {
    @include box(16px);
    fill: $main_links_color;
    margin-right: 5px;
}

.added_to_favorite {
    margin-top: 20px;

    .form_element {
        margin: 10px 0;
    }
}

.partner_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

// .partner_offer_content 

.partner_offer_top {
    display: flex;
    margin-bottom: 20px;
}
.partner_offer_content {
    table {
        .title {
            margin-bottom: 15px;
        }

        .form_element {
            justify-content: center;
            font-weight: 900;
            color: #000;
            input {
                width: 50px;
                margin-right: 5px;
            }
        }
    }

    .positive {
        background: #E9FFE6;
        color: #000;
    }
    .negative {
        background: #FFEAEA;
        color: red;
    }

    img {
        margin-right: 5px;
    }
}

.partner_offer_bottom {
    margin-top: 10px;
}

.partner_offer_bottom_group {
    display: flex;
    input[type=text] {
        width: 60px;
        margin: 0 5px;
    }
}

.partner_offer_bottom {
    .btn {
        margin-top: 10px;
    }
}

.use_template_modal {
    .form_element {
        width: 100%;
        select {
            width: 100%;
        }
    }
}

.partners_all {
    table {
        margin-top: 20px;
    }

    table.hovered_rows tbody tr.agent_info_row:hover {
        background: rgba(0,0,0,0);
    }
}

.partners_all_sort {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    .goods_menu_sort {
        margin-left: 0;
    }
}

.agent_info {
    background: #eee;
    color: #777;
    width: 50%;
    white-space: normal;
    padding: 10px;
    position: relative;
    .add_info {
        color: #000;
    }

    .close {
        position: absolute;
        right: 0;
        top: 0;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
}

.agent_info_row {
    td {
        padding: 0;
    }
}

.partner_favorite {
    margin-top: 10px;

    table {
        .title {
            margin-bottom: 10px;
        }

        .for_radio {
            position: relative;
            
        }
    }

    tbody {
        .gray_ball,
        .black_ball,
        .red_ball {
            margin-left: 0px;
            margin-right: 5px;
        }
    }

    .gray_ball,
    .black_ball,
    .red_ball {
        margin-left: 5px;
    }

    .descr {
        margin-top: 10px;
    }

    .item {
        margin-top: 5px;
    }
}

.gray_ball,
.black_ball,
.red_ball {
    width: 8px;
    height: 8px;
    top: calc(50% - 4px);
    left: calc(100% + 5px);
    border-radius: 50%;
    display: inline-block;
}

.gray_ball {
    background: #b2c1c9;
}

.black_ball {
    background: #000;
}

.red_ball {
    background: #d0021b;
}

.legend {
    .item {
        position: relative;
    }
}

// partners shop
.partners_shop {
    width: 50%;

    table {
        margin-top: 20px;

        .title {
            margin-bottom: 10px;
        }
    }
}

.partners_reports {
    width: 50%;
}

.partners_reports_content {
    display: flex;
    align-items: center;
    margin-top: 10px;
    .form_element {
        margin: 0 5px;
        flex: auto;
    }
}

.partners_settings {
    .settings {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -10px;
        .form_element {
            margin-bottom: 0;
            select {
                margin: 0 5px;
            }

            input {
                width: 45px;
                margin: 0 3px;
            }
        }

        .bold {
            margin: 0 3px;
            font-size: 16px;
        }

        .btn {
            margin-top: 0px;
        }
    }

    .btn {
        margin-top: 20px;
    }

    .form_group {
        &:last-of-type {
            margin-top: 10px;
        }
    }
}

// comission templates

.comission_templates {
    width: 50%;
    table {
        margin-top: 20px;
    }
}

.comission_template_item {
    .page_nav {
        height: 34px;
        margin-top: -10px;
        .form_element {
            margin: 0 5px;
            display: none;
        }

        .btn {
            display: none;
        }

        &.active {
            .form_element {
                display: initial;
            }

            .btn {
                display: initial;
            }
        }
    }


    table {
        margin-top: 20px;
        .title {
            margin-bottom: 10px;
        }
    }

    tbody {
        .form_element {
            justify-content: center;
            font-weight: 900;
            color: #000;
            input {
                width: 50px;
                margin-right: 5px;
            }
        }
    }

    .positive {
        background: #E9FFE6;
        color: #000;
    }
    .negative {
        background: #FFEAEA;
        color: red;
    }
}