.partners {
    display: flex;
}

.partners_stat {
    width: 50%;
}

.partners_stat_top {
    display: flex;

    .form_element {
        flex: auto;
        select {
            margin-left: 5px;
        }
    }
}

.partners_aside {
    width: 250px;
}

.partners_aside {
    align-items: center;
    display: flex;
}

.partners_stat_content {
    display: flex;
    margin-top: 40px;
}