.good_select {
    display: flex;
    align-items: center;

    .title {
        color: $additional_info_color;
        margin-right: 10px;
    }
}

.good_select_area {
    flex: 1;
    select { 
        width: 100%;
    }
}

.select_id {
    font-size: 11px;
    margin-right: 5px;
}

.stat_links {
    margin-bottom: 20px;
    text-align: right;
    .main_link {
        font: 600 14px Lato;
        margin-left: 15px;
    }
}

.table_detail_filters {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.table_detail_filters_item {
    flex-basis: 49%;
    margin-bottom: 5px;
    &.full {
        flex-basis: 100%;
    }
}

.table_detail_filters_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.payment {
        flex: 1;
    }
    &.date {
        flex-basis: 260px;
    }
    &.group {
        flex: 1;
    }

    &:not(:last-child) {
        margin-right: 50px;
    }
    .form_element {
        
        label {
            margin-bottom: 0;
            color: $additional_info_color;
        }

        & > * {
            width: 100%;
        }
    }
}

.items_counters {
    margin-bottom: 20px;
}

.additional_options {
    display: flex;
    margin: 20px 0 5px 0;
    .form_element {
        margin-right: 10px;
        label {
            margin-right: 5px;
        }
    }
}

.purchase_graph_info {
    height: 400px;
    background: #4d4d4d;
}

// purchases.html
.purchases {
    table {
        width: 50%;
    }
    tbody tr {
        cursor: pointer;
        &:hover {
            background: #f5fafd;
        }
    }
}

.purchases_dates {
    display: flex;
    align-items: center;
    margin: 10px 0 20px;
    .form_element:not(:first-child) {
        margin-right: 10px;
        span {
            margin-right: 5px;
        }
    }

    .btn {
        margin-left: 10px;
    }

    .main_link {
        margin-left: 20px;
        font: 600 14px Lato;
    }
}

// purchase_inv_detail
.purchase_inv_detail {
    .user_detail {
        .alert_box {
            .main_link {
                display: inline;
            }
        }
    }

    .form_data_block_content {
        overflow: hidden;
        align-items: center;
    }

    .arrow {
        margin: -5px 5px 0;
        font-size: 20px;
    }

    .money_back {
        margin-top: 10px;
        .btn_group {
            margin-top: 10px;
        }
    }
    .partly {
        color: #e65100;
    }

    .hint {
        font-size: 11px;
        margin-top: 10px;
    }
    
    .alert_box {
        .main_link {
            display: inline;
        }
    }

    .item {
        display: inline;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        line-height: 150%;
        .main_link {
            display: inline;
        }

        &.list {
            margin-top: 10px;
        }
    }

    .favorite {
        margin-left: 10px;
    }
}



.user_detail_item {
    display: flex;
    margin-bottom: 10px;
    .title {
        width: 80px;
        font-weight: 600;
    }

    svg {
        margin-left: 7px;
    }

    .pic-messages {
        @include box(18px);
        fill: #000;
    }

    .main_link {
        margin-right: 5px;
    }
}

.payment_ticket_status {
    font-weight: 600;
    &.done {
        color: #00972A;
    }
    &.undone {
        color: red;
    }
}

.feedback {
    min-height: 110px;
    border-radius: 4px;
    font-size: 14px;
    padding: 12px 10px;
    border: solid 1px #cfd8dc;
    width: 100%;
    position: relative;
    &.negative {
        background: #FFE7E7;
    }
    &.positive {
        background: #F1FFDF;
    }
}

.feedback_data {
    font-size: 12px;
    color: #b2b2b2;
    display: inline;
    float: right;
}

.feedback_seller_answer {
    width: 100%;
    .form_element textarea {
        width: 100%;
        height: 110px;
    }

    .hint {
        background: #eee;
        color: #777;
        padding: 10px 5px 5px 5px;
        font-size: 14px;
        margin-top: -5px;
    }

    .btn {
        margin-top: 10px;
    }
}