.vk_publish {
    display: flex;
}

.vk_publish_widget {
    flex: 4;
    max-width: 426px;
    margin-right: 20px;
}

.vk_publish_preview {
    margin-right: 20px;
}

.vk_publish_history {
    flex: 5;
}


.vk_publish_preview_bg {
    height: 400px;
    width: 240px;
    margin: 0 auto;
    background: url(../img/vk_side.png) no-repeat;
    background-size: contain;
}

.vk_steps_list {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px;
}

.vk_steps_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &:first-child {
        .vk_steps_item_title {
            position: absolute;
            left: 0;
        }
    }
    &:last-child {
        .vk_steps_item_title {
            position: absolute;
            right: 32px;
        }

        .vk_steps_item_num:after {
            display: none;
        }
    }

    &.done {
        .vk_steps_item_num {
            color: #fff;
            background: #70c364;
            &:after {
                background: #70c364;
            }
        }
    }

    &.active {
        .vk_steps_item_num {
            background: #ffdf6e;
            color: #000;
            
        }

        .vk_steps_item_title {
            position: absolute;
            top: calc(100% + 5px);
            color: #000;
            font-weight: 600;
        }
    }
}

.vk_steps_item_title {
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    right: 50%;
    color: $additional_info_color;
    font-size: 12px;
}

.vk_steps_item_num {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include box(25px);
    background: #e8e8e8;
    border-radius: 50%;
    color: #7a7a7a;
    font-size: 12px;

    &:after {
        position: absolute;
        content: '';
        width: 110px;
        left: 100%;
        top: calc(50% - 2px);
        height: 4px;
        background: #e8e8e8;
    }
}

.auth_vk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border: solid 1px #e9e9e9;
    height: 230px;
    border-radius: $border-rad;
}

.auth_vk_btn {
    text-align: center;
    font-size: 12px;
    .btn {
        margin-top: 10px;
    }
}

.pic-vk {
    @include box(75px);
}

.pic-reload {
    @include box(16px);
}

.post_settings {
    .title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    select {
        width: 100%;
    }

    .progress {
        margin-top: 5px;
        height: 10px;
        background: rgba(0,0,0,0);
        border-radius: 2px;
    }
    .progress-bar {
        background: #B2C1C7;
    }
}

.post_settings_content {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #e9e9e9;

    .form_element {
        flex: 1;
    }
    .btn {
        margin-left: 5px;

        .pic-reload {
            margin-top: -3px;
        }
    }
}

.vk_install_ds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: solid 1px #e9e9e9;
    border-radius: $border-rad;
    font-size: 12px;
}

.vk_install_ds_bg {
    height: 300px;
    width: 100%;
    background: url(../img/vk_install_ds.png) no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}


.colors_list {
    margin: 20px 0;
    input {
        display: none;
    }

    .title {
        margin-bottom: 10px;
    }

    label {
        margin-right: 10px;
        span {
            display: inline-block;
            @include box(24px);
            cursor: pointer;
            border-radius: $border-rad;
        }
        &.yellow {
            span {
                background: #fbcf1e;
            }

            input[type=radio]:checked + span {
                box-shadow: inset 0 0 0 1px #fbcf1e, inset 0 0 0 2px #ffffff, inset 0 0 0 24px #fbcf1e;
            }
        }
        &.blue {
            span {
                background: #1f6cbf;
            }

            input[type=radio]:checked + span {
                box-shadow: inset 0 0 0 1px #1f6cbf, inset 0 0 0 2px #ffffff, inset 0 0 0 24px #1f6cbf;
            }
        }
        &.red {
            span {
                background: #e53a33;
            }

            input[type=radio]:checked + span {
                box-shadow: inset 0 0 0 1px #e53a33, inset 0 0 0 2px #ffffff, inset 0 0 0 24px #e53a33;
            }
        }
        &.green {
            span {
                background: #6aa139;
            }

            input[type=radio]:checked + span {
                box-shadow: inset 0 0 0 1px #6aa139, inset 0 0 0 2px #ffffff, inset 0 0 0 24px #6aa139;
            }
        }
    }
}


.button_settings {
    display: flex;
}

.button_settings_item {
    &:not(:last-child) {
        margin-right: 10px;
    }
    flex: 1;

    .post_settings_content {
        margin-bottom: 0;
    }
}

.vk_publish.wiki {
    .post_settings_content {
        border-bottom: 0;
    }

    .tab-pane {
        margin-bottom: 10px;
        border-bottom: solid 1px #e9e9e9;
    }

    .vk_publish_widget {
        flex: auto;
    }

    .vk_publish_history {
        flex: 4;
    }


    .vk_publish_preview_bg {
        width: 350px;
        height: 400px;
        background: url(../img/vk_bg.png) no-repeat;
        background-size: contain;

        @include flex-center;

        img {
            max-width: 100%;
            height: 150px;
        }
    }
}

.preview_btn {
    text-transform: uppercase;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
    width: 70%;
    padding: 12px 0;
    outline: 0!important;
    cursor: default!important;
    position: relative;
    z-index: 2;
    &.yellow {
        background: linear-gradient(to bottom, #ffdd3e, #f7c304);
        border: 2px solid #fbd021;
    }

    &.blue {
        color: #fff;
        background: linear-gradient(to bottom, #1a75cf, #2360ab);
        border: 2px solid #2360ab;
    }

    &.red {
        background: #e93c33;
        color: #fff;
        border: 2px solid #d1061e;
    }

    &.green {
        background: linear-gradient(to bottom, #7ab141, #578d30);
        color: #fff;
        border: 2px solid #69954b;
    }

    &.var_one {
        border-radius: 4px;
    }

    &.var_two {
        border-radius: 25px;
    }

    &.var_three {
        border-radius: 0;
    }

    &.var_four {
        background: rgba(0,0,0,0);
        border: 0;
        &:after {
            content: '';
            position: absolute;
            width: calc(100% + 4px);
            height: calc(100% + 4px);;
            top: -2px;
            left: -2px;
            transform: skew(-25deg);
            background: #000;
            z-index: -1;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    &.yellow.var_four:after {
        background: linear-gradient(to bottom, #ffdd3e, #f7c304);
        border: 2px solid #fbd021;
    }
    &.blue.var_four:after {
        background: linear-gradient(to bottom, #1a75cf, #2360ab);
        border: 2px solid #2360ab;
    }
    &.red.var_four:after {
        background: #e93c33;
        border: 2px solid #d1061e;
    }
    &.green.var_four:after {
        background: linear-gradient(to bottom, #7ab141, #578d30);
        border: 2px solid #69954b;
    }
}